
.font-weight{
    font-weight: 400;
}
.header{
    display: flex;
    height: 100vh;
    position: fixed;
    top: 0;
}
.header__container{
    display: flex;
    background-color: #2B2B2B;
    width: 11.6rem;
    height: 100%;
    justify-content: space-around;
    flex-direction: column;
    border-top-right-radius: 4rem;
    border-bottom-right-radius: 4rem;
    transition: width 0.5s;
}
.header__container:hover{
    width:25rem;
}

.user-{
    padding-bottom: 3.8rem;
    margin-top: 2rem;
}
.user- figure{
    display: flex;
    justify-content: center;
}
.user- .data-user{
    transition: width 0.5s;
    display: flex;
    visibility: hidden;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.data-user>h1{
    font-size: 2rem;
    color: #ffffff;
    display: block;
    margin: 0rem;
}
.data-user>h2{
    font-size: 1.2rem;
    color: #707070;
    display: block;
    margin: 0rem;
}

.user-active{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}

.acciones{
    display: flex;
    height: 70%;
    justify-content: space-around;
    flex-direction: column;
    padding: 3rem;
}
.menu-boton{
    color: white;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2rem;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

.menu-boton:active{
    color: #707070;
}
.menu-boton > div{
    display: none;
}
svg{
    padding-right: 1rem;
}
.close-login{
    display: flex;
    padding: 3rem;
    justify-items: center;
}
