<section class="option-payment">
    <div class="option-payment__container">
        <div class="pagos-card">
            <div class="up-card">
                <div class="logo-card">
                    <svg xmlns="http://www.w3.org/2000/svg" width="29.912" height="19.941"
                        viewBox="0 0 29.912 19.941">
                        <g data-name="Group 744" transform="translate(16.326)">
                            <g data-name="Group 743">
                                <path data-name="Path 984"
                                d="M255.933,268.452a9.93,9.93,0,0,0-3.615.687,11.247,11.247,0,0,1,0,18.568,9.967,9.967,0,1,0,3.615-19.255Z"
                                transform="translate(-252.318 -268.452)" class="cicle2" />
                            </g>
                        </g>
                        <g data-name="Group 746">
                            <g  data-name="Group 745">
                                <path data-name="Path 985"
                                d="M266.433,278.423a9.993,9.993,0,1,0-4.985,8.625A9.957,9.957,0,0,0,266.433,278.423Z"
                                transform="translate(-246.492 -268.452)" class="cicle1" />
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="icon">
                    <div class="edit">
                        <a href="#"><i class="fas fa-pen fa-3x"></i></a>
                    </div>
                </div>
            </div>
            <div class="down-card">
                <h1>Credit</h1>
                <h1>Card</h1>
            </div>
        </div>
        <div class="pagos-card">
            <div class="up-card">
                <div class="logo-card">
                    <svg xmlns="http://www.w3.org/2000/svg" width="29.912" height="19.941"
                        viewBox="0 0 29.912 19.941">
                        <g data-name="Group 744" transform="translate(16.326)">
                            <g data-name="Group 743">
                                <path data-name="Path 984"
                                d="M255.933,268.452a9.93,9.93,0,0,0-3.615.687,11.247,11.247,0,0,1,0,18.568,9.967,9.967,0,1,0,3.615-19.255Z"
                                transform="translate(-252.318 -268.452)" class="cicle2" />
                            </g>
                        </g>
                        <g data-name="Group 746">
                            <g  data-name="Group 745">
                                <path data-name="Path 985"
                                d="M266.433,278.423a9.993,9.993,0,1,0-4.985,8.625A9.957,9.957,0,0,0,266.433,278.423Z"
                                transform="translate(-246.492 -268.452)" class="cicle1" />
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="icon">
                    <div class="edit">
                        <a href="#"><i class="fas fa-pen fa-3x"></i></a>
                    </div>
                </div>
            </div>
            <div class="down-card">
                <h1>Debit</h1>
                <h1>Card</h1>
            </div>
        </div>
        <div class="pagos-card">
            <div class="up-card">
                <div class="logo-card">
                    <svg xmlns="http://www.w3.org/2000/svg" width="19.865" height="19.865" viewBox="0 0 19.865 19.865">
                        <path data-name="Path 1033" d="M9.933,0A9.933,9.933,0,1,1,0,9.933,9.933,9.933,0,0,1,9.933,0Z" class="cicle3"/>
                        <path data-name="Path 1032" d="M17.57,14.166c0,1.6-1.295,2.654-3.207,2.814v1.436h-1.31v-1.45A7.136,7.136,0,0,1,9.5,15.529l.963-1.32a5.556,5.556,0,0,0,2.65,1.248V12.614c-2.2-.551-3.222-1.349-3.222-2.988,0-1.566,1.279-2.64,3.162-2.785V6h1.31v.87a5.891,5.891,0,0,1,2.831,1.1L16.35,9.336A5.272,5.272,0,0,0,14.3,8.408v2.756c2.289.551,3.267,1.436,3.267,3Zm-4.457-3.307V8.306c-.948.073-1.445.58-1.445,1.219,0,.608.286,1,1.445,1.335Zm2.681,3.408c0-.652-.317-1.044-1.491-1.378v2.626c.949-.073,1.491-.552,1.491-1.248Z" transform="translate(-3.603 -2.275)" class="logo-cash" fill-rule="evenodd"/>
                    </svg>
                </div>
                <div class="icon">
                    <div class="edit">
                        <a href="#"><i class="fas fa-pen fa-3x"></i></a>
                    </div>
                </div>
            </div>
            <div class="down-card">
                <h1>Cash</h1>
                <h1>Card</h1>
            </div>
        </div>

    </div>
</section>
