.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.color-logo{
    fill: var(--color-white);
}
.example-container .subtitle {
    color: var(--color-white);
    border-color: white;
    background-color: transparent;
}
.input{
    color: var(--color-white);
}
mat-icon{
    color: var(--color-white);
}
.button{
    background-color: var(--color-skyblue-primary);
    color: var(--color-white);
}
.button:focus{
    background-color: var(--color-skyblue-seconday);
}
