.containerDragDrop{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

}
.uploadfilecontainer {
    display: flex;
    position: relative;
    background-color: transparent;
    height: 30rem;
    width: 45.6rem;
    margin: 2rem auto;
    border: .2rem dashed var(--color-gray);
    border-radius: 1rem;
    justify-content: center;
}
.uploadfilecontainer:hover {
    cursor: pointer;
    background-color: var(--color-gray);
    opacity: 0.8;
}
.uploadfilecontainer img{
    width: 40rem;
}
.aviso{
    text-align: center;
    position: absolute;
    bottom: 30%;
}
