<div class="container">
    <div class="icono">
        <svg
            id="discapacitado"
            xmlns="http://www.w3.org/2000/svg"
            width="84"
            height="84"
            viewBox="0 0 84 84"
        >
            <g id="Group_808" data-name="Group 808">
                <path
                    id="Path_1042"
                    data-name="Path 1042"
                    d="M42,0A42,42,0,1,0,84,42,41.976,41.976,0,0,0,42,0ZM6.563,42A35.439,35.439,0,0,1,64.631,14.729l-49.9,49.9A35.169,35.169,0,0,1,6.563,42ZM42,77.438a35.169,35.169,0,0,1-22.631-8.166l49.9-49.9A35.439,35.439,0,0,1,42,77.438Z"
                    fill="#fff"
                />
            </g>
        </svg>
    </div>
    <div class="texto">
        <h1>Mensaje</h1>
        <h2>{{ data.message }}</h2>
        <!-- 93 Caracteres -->
    </div>
</div>
