<div class="content">
    <div class="header__content">
        <h1>Ventas</h1>
        <div class="main">
            <form class="search">
                <input class="input" type="text" placeholder="Buscar...">
                <div>
                    <button type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
            <button type="button" class="btn">
                <i class="fas fa-plus"></i>
                Nuevos ventas
            </button>
        </div>
    </div>
    <table>
        <thead>
            <tr >
                <th>Fecha</th>
                <th>Serie</th>
                <th>Número</th>
                <th>Cliente</th>
                <th>Usuario</th>
                <th>Documento</th>
                <th>Impuesto</th>
                <th>Total</th>
                <th>Estado</th>
                <!-- <th>Acciones</th> -->
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>30 dic 2019</td>
                <td>1</td>
                <td>124</td>
                <td>Yovanita del Pilar</td>
                <td>Jorge Luis Eduardo</td>
                <td>Factura</td>
                <td>18%</td>
                <td>S/. 10000.00</td>
                <td>Aceptado</td>
                <td>
                    <div class="icon">
                        <div class="details">
                            <a href="#"><i class="fas fa-info fa-1x"></i></a>
                        </div>
                        <div class="disabled">
                            <a href="#"><i class="fas fa-times fa-1x"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>30 dic 2019</td>
                <td>1</td>
                <td>124</td>
                <td>Yovanita del Pilar</td>
                <td>Jorge Luis Eduardo</td>
                <td>Factura</td>
                <td>18%</td>
                <td>S/. 10000.00</td>
                <td>Aceptado</td>
                <td>
                    <div class="icon">
                        <div class="details">
                            <a href="#"><i class="fas fa-info fa-1x"></i></a>
                        </div>
                        <div class="disabled">
                            <a href="#"><i class="fas fa-times fa-1x"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>30 dic 2019</td>
                <td>1</td>
                <td>124</td>
                <td>Yovanita del Pilar</td>
                <td>Jorge Luis Eduardo</td>
                <td>Factura</td>
                <td>18%</td>
                <td>S/. 10000.00</td>
                <td>Aceptado</td>
                <td>
                    <div class="icon">
                        <div class="details">
                            <a href="#"><i class="fas fa-info fa-1x"></i></a>
                        </div>
                        <div class="disabled">
                            <a href="#"><i class="fas fa-times fa-1x"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>30 dic 2019</td>
                <td>1</td>
                <td>124</td>
                <td>Yovanita del Pilar</td>
                <td>Jorge Luis Eduardo</td>
                <td>Factura</td>
                <td>18%</td>
                <td>S/. 10000.00</td>
                <td>Aceptado</td>
                <td>
                    <div class="icon">
                        <div class="details">
                            <a href="#"><i class="fas fa-info fa-1x"></i></a>
                        </div>
                        <div class="disabled">
                            <a href="#"><i class="fas fa-times fa-1x"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>30 dic 2019</td>
                <td>1</td>
                <td>124</td>
                <td>Yovanita del Pilar</td>
                <td>Jorge Luis Eduardo</td>
                <td>Factura</td>
                <td>18%</td>
                <td>S/. 10000.00</td>
                <td>Aceptado</td>
                <td>
                    <div class="icon">
                        <div class="details">
                            <a href="#"><i class="fas fa-info fa-1x"></i></a>
                        </div>
                        <div class="disabled">
                            <a href="#"><i class="fas fa-times fa-1x"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>30 dic 2019</td>
                <td>1</td>
                <td>124</td>
                <td>Yovanita del Pilar</td>
                <td>Jorge Luis Eduardo</td>
                <td>Factura</td>
                <td>18%</td>
                <td>S/. 10000.00</td>
                <td>Aceptado</td>
                <td>
                    <div class="icon">
                        <div class="details">
                            <a href="#"><i class="fas fa-info fa-1x"></i></a>
                        </div>
                        <div class="disabled">
                            <a href="#"><i class="fas fa-times fa-1x"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>30 dic 2019</td>
                <td>1</td>
                <td>124</td>
                <td>Yovanita del Pilar</td>
                <td>Jorge Luis Eduardo</td>
                <td>Factura</td>
                <td>18%</td>
                <td>S/. 10000.00</td>
                <td>Aceptado</td>
                <td>
                    <div class="icon">
                        <div class="details">
                            <a href="#"><i class="fas fa-info fa-1x"></i></a>
                        </div>
                        <div class="disabled">
                            <a href="#"><i class="fas fa-times fa-1x"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>30 dic 2019</td>
                <td>1</td>
                <td>124</td>
                <td>Yovanita del Pilar</td>
                <td>Jorge Luis Eduardo</td>
                <td>Factura</td>
                <td>18%</td>
                <td>S/. 10000.00</td>
                <td>Aceptado</td>
                <td>
                    <div class="icon">
                        <div class="details">
                            <a href="#"><i class="fas fa-info fa-1x"></i></a>
                        </div>
                        <div class="disabled">
                            <a href="#"><i class="fas fa-times fa-1x"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>30 dic 2019</td>
                <td>1</td>
                <td>124</td>
                <td>Yovanita del Pilar</td>
                <td>Jorge Luis Eduardo</td>
                <td>Factura</td>
                <td>18%</td>
                <td>S/. 10000.00</td>
                <td>Aceptado</td>
                <td>
                    <div class="icon">
                        <div class="details">
                            <a href="#"><i class="fas fa-info fa-1x"></i></a>
                        </div>
                        <div class="disabled">
                            <a href="#"><i class="fas fa-times fa-1x"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>30 dic 2019</td>
                <td>1</td>
                <td>124</td>
                <td>Yovanita del Pilar</td>
                <td>Jorge Luis Eduardo</td>
                <td>Factura</td>
                <td>18%</td>
                <td>S/. 10000.00</td>
                <td>Aceptado</td>
                <td>
                    <div class="icon">
                        <div class="details">
                            <a href="#"><i class="fas fa-info fa-1x"></i></a>
                        </div>
                        <div class="disabled">
                            <a href="#"><i class="fas fa-times fa-1x"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>30 dic 2019</td>
                <td>1</td>
                <td>124</td>
                <td>Yovanita del Pilar</td>
                <td>Jorge Luis Eduardo</td>
                <td>Factura</td>
                <td>18%</td>
                <td>S/. 10000.00</td>
                <td>Aceptado</td>
                <td>
                    <div class="icon">
                        <div class="details">
                            <a href="#"><i class="fas fa-info fa-1x"></i></a>
                        </div>
                        <div class="disabled">
                            <a href="#"><i class="fas fa-times fa-1x"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>30 dic 2019</td>
                <td>1</td>
                <td>124</td>
                <td>Yovanita del Pilar</td>
                <td>Jorge Luis Eduardo</td>
                <td>Factura</td>
                <td>18%</td>
                <td>S/. 10000.00</td>
                <td>Aceptado</td>
                <td>
                    <div class="icon">
                        <div class="details">
                            <a href="#"><i class="fas fa-info fa-1x"></i></a>
                        </div>
                        <div class="disabled">
                            <a href="#"><i class="fas fa-times fa-1x"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>30 dic 2019</td>
                <td>1</td>
                <td>124</td>
                <td>Yovanita del Pilar</td>
                <td>Jorge Luis Eduardo</td>
                <td>Factura</td>
                <td>18%</td>
                <td>S/. 10000.00</td>
                <td>Aceptado</td>
                <td>
                    <div class="icon">
                        <div class="details">
                            <a href="#"><i class="fas fa-info fa-1x"></i></a>
                        </div>
                        <div class="disabled">
                            <a href="#"><i class="fas fa-times fa-1x"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>30 dic 2019</td>
                <td>1</td>
                <td>124</td>
                <td>Yovanita del Pilar</td>
                <td>Jorge Luis Eduardo</td>
                <td>Factura</td>
                <td>18%</td>
                <td>S/. 10000.00</td>
                <td>Aceptado</td>
                <td>
                    <div class="icon">
                        <div class="details">
                            <a href="#"><i class="fas fa-info fa-1x"></i></a>
                        </div>
                        <div class="disabled">
                            <a href="#"><i class="fas fa-times fa-1x"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>30 dic 2019</td>
                <td>1</td>
                <td>124</td>
                <td>Yovanita del Pilar</td>
                <td>Jorge Luis Eduardo</td>
                <td>Factura</td>
                <td>18%</td>
                <td>S/. 10000.00</td>
                <td>Aceptado</td>
                <td>
                    <div class="icon">
                        <div class="details">
                            <a href="#"><i class="fas fa-info fa-1x"></i></a>
                        </div>
                        <div class="disabled">
                            <a href="#"><i class="fas fa-times fa-1x"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>30 dic 2019</td>
                <td>1</td>
                <td>124</td>
                <td>Yovanita del Pilar</td>
                <td>Jorge Luis Eduardo</td>
                <td>Factura</td>
                <td>18%</td>
                <td>S/. 10000.00</td>
                <td>Aceptado</td>
                <td>
                    <div class="icon">
                        <div class="details">
                            <a href="#"><i class="fas fa-info fa-1x"></i></a>
                        </div>
                        <div class="disabled">
                            <a href="#"><i class="fas fa-times fa-1x"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>30 dic 2019</td>
                <td>1</td>
                <td>124</td>
                <td>Yovanita del Pilar</td>
                <td>Jorge Luis Eduardo</td>
                <td>Factura</td>
                <td>18%</td>
                <td>S/. 10000.00</td>
                <td>Aceptado</td>
                <td>
                    <div class="icon">
                        <div class="details">
                            <a href="#"><i class="fas fa-info fa-1x"></i></a>
                        </div>
                        <div class="disabled">
                            <a href="#"><i class="fas fa-times fa-1x"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>30 dic 2019</td>
                <td>1</td>
                <td>124</td>
                <td>Yovanita del Pilar</td>
                <td>Jorge Luis Eduardo</td>
                <td>Factura</td>
                <td>18%</td>
                <td>S/. 10000.00</td>
                <td>Aceptado</td>
                <td>
                    <div class="icon">
                        <div class="details">
                            <a href="#"><i class="fas fa-info fa-1x"></i></a>
                        </div>
                        <div class="disabled">
                            <a href="#"><i class="fas fa-times fa-1x"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
