<div class="container" id="box-formulario">
    <div class="box-formulario">
        <form action="" method="post" autocomplete="off">
            <h1 class="titulos">Personal</h1>
            <hr>
            <label for="nombre">
                <span>Nombres</span>
                <input type="text" id="nombre" name="nombre" placeholder="Tu nombre" required autocomplete="off">
            </label>
            <label for="apellido">
                <span>Apellidos</span>
                <input type="text" id="apellido" name="apellido" placeholder="Tu apellido" required autocomplete="off">
            </label>
            <span>Tipo Documento</span>
            <div class="btn-group">
                <div class="grupo-boton" role="documentos">
                    <label for="dni"><input type="radio" name="documento" id="dni" value="DNI"><span>DNI</span></label>
                    <label for="ruc"><input type="radio" name="documento" id="ruc" value="RUC"><span>RUC</span></label>
                    <label for="cedula"><input type="radio" name="documento" id="cedula" value="Cédula"><span>Cédula</span></label>
                    <label for="pasaporte"><input type="radio" name="documento" id="pasaporte" value="Pasaporte"><span>Pasaporte</span></label>
                </div>
            </div>
            <div class="documento-telefono-container">
                <label for="numero-documento">
                    <span>Número Documento</span>
                    <input type="number" id="numero-documento" name="numero-documento" placeholder="Numero Documento" min="0" required autocomplete="off">
                </label>
                <label for="telefono">
                    <span>Telefono</span>
                    <input type="tel" id="telefono" name="telefono" placeholder="Telefono" required autocomplete="off">
                </label>
            </div>
            <label for="direccion">
                <span>Dirección</span>
                <input type="text" id="direccion" name="direccion" placeholder="Tu direccion" required autocomplete="off">
            </label>
            <span>Imagen</span>
            <div class="imagen-usuario-contenedor">
                <img class="imagen-usuario" src="../../../../assets/image/user.png" alt="usuario">
            </div>
            <div class="containerDragDrop">
                <div
                    class="uploadfilecontainer"
                    (click)="fileInput.click()"
                    appDragDropUpload
                    (onFileDropped)="uploadFileDragDrop($event)"
                >
                    <img
                        *ngIf="image$ | SafeUrl as image"
                        [src]="image"
                        alt="{{ name$ }}"
                    />
                    <h1 class="aviso" *ngIf="image$ === ''">
                        Arrastre y suelte la imagen o haga click para cargar
                    </h1>
                    <input
                        hidden
                        type="file"
                        #fileInput
                        (change)="uploadFileClick($event)"
                    />
                </div>
                <h1 class="nombre">{{ name$ }}</h1>
            </div>

            <h1 class="titulos">Cuenta</h1>
            <hr>
            <span>Rol</span>
            <div class="btn-group">
                <div class="grupo-boton" role="roles">
                    <label for="administrador"><input type="radio" name="rol" id="administrador" value="administrador"><span>Administrador</span></label>
                    <label for="cajero"><input type="radio" name="rol" id="cajero" value="cajero"><span>Cajero</span></label>
                    <label for="vendedor"><input type="radio" name="rol" id="vendedor" value="vendedor"><span>Vendedor</span></label>
                    <label for="almacenero"><input type="radio" name="rol" id="almacenero" value="almacenero"><span>Almacenero</span></label>
                </div>
            </div>
            <label for="email">
                <span>Email</span>
                <input type="email" id="email" name="email" placeholder="Tu email" required autocomplete="off">
            </label>
            <label for="password">
                <span>Contraseña</span>
                <input type="password" id="password" name="password" placeholder="Tu Contraseña" required autocomplete="off">
            </label>
            <input type="submit" value="Guardar" (click)="editar()">
            <input type="reset" class="btn-close-popup" id="btn-close-popup" value="Cancelar"  (click)="cerrar()">
        </form>
    </div>
</div>
