.container{
    margin-left: 11.6rem;
    width: 143.4rem;
    /* margin-right: 0rem; */
    /* width: 100%; */
    /* justify-content: center; */
}
.arriba{
    margin-top: 3rem;
}
.tabla{
    margin-top: 3rem;
}
