<div class="graficos">
    <div class="chart-container">
        <h2>Total Ganancias</h2>
        <h1>S/. 1000.00</h1>
        <div class="chart">
            <canvas id="popChart"></canvas>
        </div>
    </div>
    <div class="donut-container">
        <h1>Total Ventas</h1>
        <h2>Ventas por Categoria</h2>
        <div class="donut">
            <canvas id="donutChart"></canvas>
        </div>
        <div class="total-ventas">
            <h1>Total Ventas</h1>
            <h2>235</h2>
        </div>
    </div>
    <div class="producto-mes-container">
        <h1>Producto más vendido del mes</h1>
        <div>
            <img src="./assets/image/inka.png" alt="inka kola">
        </div>
        <div>
            <h2>Nombre</h2>
            <h1>Inka Kola 500 ML</h1>
        </div>
        <div>
            <h2>Ganancias</h2>
            <h1>S/. 1000.00</h1>
        </div>
    </div>
</div>
