<div class="content">
    <div class="header__content">
        <h1>Clientes</h1>
        <div class="main">
            <form class="search">
                <input class="input" type="text" placeholder="Buscar...">
                <div>
                    <button type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
            <button type="button" class="btn">
                <i class="fas fa-plus"></i>
                Nuevo Cliente
            </button>
        </div>
    </div>
    <table>
        <thead>
            <tr >
                <th>Apellidos</th>
                <th>Nombres</th>
                <th>Doc.</th>
                <th>N. Doc.</th>
                <th>DIrección</th>
                <th>Celular</th>
                <th>Email</th>
                <th>Estado</th>
                <!-- <th>Acciones</th> -->
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Callahua Condory</td>
                <td>Yovanita del Pilar</td>
                <td>DNI</td>
                <td>12345678</td>
                <td>Pachacamac Mz.G1.L1</td>
                <td>999999999</td>
                <td>Yovanitadelpilar@hotmail.com</td>
                <td>Inactivo</td>
                <td>
                    <div class="icon">
                        <div class="edit">
                            <a href="#"><i class="fas fa-pen fa-1x"></i></a>
                        </div>
                        <div class="disabled">
                            <a href="#"><i class="fas fa-times fa-1x"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Callahua Condory</td>
                <td>Yovanita del Pilar</td>
                <td>DNI</td>
                <td>12345678</td>
                <td>Pachacamac Mz.G1.L1</td>
                <td>999999999</td>
                <td>Yovanitadelpilar@hotmail.com</td>
                <td>Inactivo</td>
                <td>
                    <div class="icon">
                        <div class="edit">
                            <a href="#"><i class="fas fa-pen fa-1x"></i></a>
                        </div>
                        <div class="disabled">
                            <a href="#"><i class="fas fa-times fa-1x"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Callahua Condory</td>
                <td>Yovanita del Pilar</td>
                <td>DNI</td>
                <td>12345678</td>
                <td>Pachacamac Mz.G1.L1</td>
                <td>999999999</td>
                <td>Yovanitadelpilar@hotmail.com</td>
                <td>Inactivo</td>
                <td>
                    <div class="icon">
                        <div class="edit">
                            <a href="#"><i class="fas fa-pen fa-1x"></i></a>
                        </div>
                        <div class="disabled">
                            <a href="#"><i class="fas fa-times fa-1x"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Callahua Condory</td>
                <td>Yovanita del Pilar</td>
                <td>DNI</td>
                <td>12345678</td>
                <td>Pachacamac Mz.G1.L1</td>
                <td>999999999</td>
                <td>Yovanitadelpilar@hotmail.com</td>
                <td>Inactivo</td>
                <td>
                    <div class="icon">
                        <div class="edit">
                            <a href="#"><i class="fas fa-pen fa-1x"></i></a>
                        </div>
                        <div class="disabled">
                            <a href="#"><i class="fas fa-times fa-1x"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Callahua Condory</td>
                <td>Yovanita del Pilar</td>
                <td>DNI</td>
                <td>12345678</td>
                <td>Pachacamac Mz.G1.L1</td>
                <td>999999999</td>
                <td>Yovanitadelpilar@hotmail.com</td>
                <td>Inactivo</td>
                <td>
                    <div class="icon">
                        <div class="edit">
                            <a href="#"><i class="fas fa-pen fa-1x"></i></a>
                        </div>
                        <div class="disabled">
                            <a href="#"><i class="fas fa-times fa-1x"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Callahua Condory</td>
                <td>Yovanita del Pilar</td>
                <td>DNI</td>
                <td>12345678</td>
                <td>Pachacamac Mz.G1.L1</td>
                <td>999999999</td>
                <td>Yovanitadelpilar@hotmail.com</td>
                <td>Inactivo</td>
                <td>
                    <div class="icon">
                        <div class="edit">
                            <a href="#"><i class="fas fa-pen fa-1x"></i></a>
                        </div>
                        <div class="disabled">
                            <a href="#"><i class="fas fa-times fa-1x"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Callahua Condory</td>
                <td>Yovanita del Pilar</td>
                <td>DNI</td>
                <td>12345678</td>
                <td>Pachacamac Mz.G1.L1</td>
                <td>999999999</td>
                <td>Yovanitadelpilar@hotmail.com</td>
                <td>Inactivo</td>
                <td>
                    <div class="icon">
                        <div class="edit">
                            <a href="#"><i class="fas fa-pen fa-1x"></i></a>
                        </div>
                        <div class="disabled">
                            <a href="#"><i class="fas fa-times fa-1x"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Callahua Condory</td>
                <td>Yovanita del Pilar</td>
                <td>DNI</td>
                <td>12345678</td>
                <td>Pachacamac Mz.G1.L1</td>
                <td>999999999</td>
                <td>Yovanitadelpilar@hotmail.com</td>
                <td>Inactivo</td>
                <td>
                    <div class="icon">
                        <div class="edit">
                            <a href="#"><i class="fas fa-pen fa-1x"></i></a>
                        </div>
                        <div class="disabled">
                            <a href="#"><i class="fas fa-times fa-1x"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
