<div class="container">
    <app-titulo-pagina
        titulo="{{ titulo }}"
    ></app-titulo-pagina>
    <div class="arriba">
        <h2>Proveedores</h2>
        <section class="main">
            <form class="search">
                <input class="input" type="text" placeholder="Buscar..." />
                <div>
                    <button type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
            <button type="button" class="btn">
                <i class="fas fa-plus"></i>
                Nuevo Usuario
            </button>
        </section>
    </div>
    <app-proveedores></app-proveedores>
    <div class="separacion"></div>
    <app-tabla10Compras></app-tabla10Compras>
</div>
