.container-roles{
    width: 100%;
    display: inline-block;
    position: relative;
    /* overflow-x: scroll; */
    padding: 3rem 0rem;
}
.subcontainer-roles{
    white-space: nowrap;
    margin: 2rem 0rem;
    display: inline-block;
}
.roles{
    padding-right: 3.1rem;
    display: inline-block;
    align-content: center;
    overflow: hidden;
    transition: 450ms all;
    -webkit-transform-origin: center left;
    transform-origin: center left;
    position: relative;
}
.roles:hover~.roles{
    -webkit-transform: translate3d(4rem, 0rem, 0rem) ;
    transform: translate3d(4rem, 0rem, 0rem);
}
.subcontainer-roles:hover .roles{
    opacity: 0.3;
}
.subcontainer-roles:hover .roles:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
}

.roles:last-child{
    padding-right: 0rem;
}
#b1{
    background-color: var(--color-skyblue);
}
#b2{
    background-color: var(--color-navygreen);
}
#b3{
    background-color: var(--color-lightgreen);
}
#b4{
    background-color: var(--color-blue);
}
.box{
    display: flex;
    margin: 0rem;
    padding: 2rem 2rem;
    width: 30rem;
    height: 14rem;
    border-radius: 2rem;
}
.box .box1 {
    padding: 0px;
    margin: 0px;
    display: flex;
    align-content: space-between;
    width: 50%;
    height: 100%;
}
.box .box1 .cajita{
    display: block;
    align-content: space-between;
    width: 100%;
    height: 12rem;
}
.box .box1 .roles{
    display: flex;
    justify-content:flex-start;
    width: 100%;
    height: 50%;
}
.box .box1 .roles div{
    display: block;
}
.box .box1 .roles div > h1{
    font-weight: 400;
    color: var(--color-white);
    font-size: 2rem;
    margin: 0rem;
    padding: 0rem;
}
.box .box1 .roles div > h2{
    font-weight: 400;
    color: var(--color-white);
    font-size: 1.5rem;
    margin: 0rem;
    padding: 0rem;
}
.box .box1 .cantidad-usuarios{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 50%;
}
.box .box1 .cantidad-usuarios > h1{
    font-weight: 400;
    color: var(--color-white);
    font-size: 2rem;
}
.box2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
