<section class="container-roles">
    <div class="subcontainer-roles">
        <div class="roles">
            <div class="box" id="b1">
                <div class="box1">
                    <div class="cajita">
                        <div class="roles">
                            <div>
                                <h2>Rol</h2>
                                <h1>Administrador</h1>
                            </div>
                        </div>
                        <div class="cantidad-usuarios">
                            <h1>1 Usuario</h1>
                        </div>
                    </div>
                </div>
                <div class="box2">
                    <figure>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="90.221" height="90.922" viewBox="0 0 90.221 90.922">
                            <defs>
                                <clipPath id="clip-path">
                                <rect id="Rectangle_530" data-name="Rectangle 530" width="88.232" height="1.919" fill="none"/>
                                </clipPath>
                            </defs>
                            <g id="Administrador" transform="translate(-167.21 -104.12)">
                                <g id="Group_472" data-name="Group 472" transform="translate(167.498 104.12)">
                                <g id="Group_452" data-name="Group 452" transform="translate(2.117 31.591)">
                                    <g id="Group_451" data-name="Group 451">
                                    <path id="Path_864" data-name="Path 864" d="M223.286,204.268q.457-6.164.637-11.538c-.992-.525-2.184-1.139-3.137-1.592-2.953-1.406-7.066-3.3-9.705-4.51-1.545-.71-3.059-1.229-3.059-1.229s-10.549-1.011-11.405-.957a26.506,26.506,0,0,0-3.318,1.135c-3.741,1.419-10.953,4.31-12.1,5.135-1.684,1.206-7.71,30.744-7.87,32.749-.156,1.948,8.2,4.615,15.93,6.657-.005,2.994-.066,7.189-.134,11.019-.01.654-.022,1.3-.035,1.919H222.93c-.045-.658-.085-1.307-.118-1.919,0-.082-.008-.162-.012-.242-.129-2.594-.633-7.239-.5-11.764a41.658,41.658,0,0,1,.391-6.822C222.739,213.244,223.286,204.268,223.286,204.268Zm-42.913,17.367c.056-3.845,5.176-11,5.176-11a2.053,2.053,0,0,1,.24-.09s.264-.037.264-.033.8-.754.8-.754c.188.684,1.884,10.344,2.3,15.968C184.346,224.782,180.346,223.469,180.374,221.635Z" transform="translate(-173.325 -184.441)" fill="#dbd8e3"/>
                                    </g>
                                </g>
                                <g id="Group_454" data-name="Group 454" transform="translate(38.516 33.194)">
                                    <g id="Group_453" data-name="Group 453">
                                    <path id="Path_865" data-name="Path 865" d="M280.058,243.61c-.223-1.6-.433-3.2-.623-4.771,0-.009,0-.014,0-.023-.061-.522-.123-1.037-.182-1.55,0-.025-.005-.052-.009-.082-.247-2.159-.452-4.23-.6-6.126a19.365,19.365,0,0,1,.189-4.261c.588-9.7.881-19.921.881-19.921.31-4.184.487-8.1.606-11.741,0,0-13.246-6.26-14.447-6.619,0,0,2.513,5.9,4.4,19.088.724,5.065,2.065,13.591,3.04,22.293v0c.527,4.7,1.515,9.479,2.267,13.713.115.654.225,1.295.325,1.919h4.434Q280.189,244.572,280.058,243.61Z" transform="translate(-265.868 -188.516)" fill="#323657"/>
                                    </g>
                                </g>
                                <g id="Group_456" data-name="Group 456" transform="translate(0 32.14)">
                                    <g id="Group_455" data-name="Group 455">
                                    <path id="Path_866" data-name="Path 866" d="M198.594,226.407c.522-4.9.992-9.8.765-12.477-1.827-21.555-7-27.26-7.746-28.1-.579.221-2.785,1.049-3.431,1.3-3.536,1.394-10.742,3.948-11.713,4.646-1.684,1.206-8.324,32.172-8.524,34.175-.134,1.354,8.531,4.182,17.372,6.708-.082,2.424.147,5.843-.658,9.413a8.266,8.266,0,0,0-.382,1.871L196.6,243.9c.075-.637.153-1.276.232-1.919.234-1.926.48-3.9.723-6,3.7.957,6.208,1.573,6.208,1.573s3.471-5.869,4.479-8.245C208.414,228.91,203.945,227.836,198.594,226.407Zm-15.936-7.419c-.116-4.413-.1-7.491-.1-7.491a100.885,100.885,0,0,1,1.573,10.126C182.344,220.722,182.68,219.879,182.657,218.988Z" transform="translate(-167.942 -185.835)" fill="#323657"/>
                                    </g>
                                </g>
                                <g id="Group_458" data-name="Group 458" transform="translate(24.856 21.828)">
                                    <g id="Group_457" data-name="Group 457">
                                    <path id="Path_867" data-name="Path 867" d="M231.137,169.721s1.342-2.535.971-9.733c-.1-1.994,10.475,4.729,10.475,4.729s-.037.688-.059,1.615c-.012.386-.019.809-.019,1.244,0,.12,0,.24,0,.36,0,.2,0,.391.007.586.006.242.015.478.026.706.012.259.029.5.054.729a6.62,6.62,0,0,0,.391,1.413C243.47,172.489,235.1,172.554,231.137,169.721Z" transform="translate(-231.137 -159.618)" fill="#eea987"/>
                                    </g>
                                </g>
                                <g id="Group_459" data-name="Group 459" transform="translate(32.502 36.509)">
                                    <path id="Path_868" data-name="Path 868" d="M251.8,196.945l1.949,2.619a2.363,2.363,0,0,1-3.171.4Z" transform="translate(-250.578 -196.945)" fill="#e8734d"/>
                                </g>
                                <g id="Group_460" data-name="Group 460" transform="translate(33.54 39.165)">
                                    <path id="Path_869" data-name="Path 869" d="M254.827,203.766a97.457,97.457,0,0,1,5.618,39.6l-2.253,4.088-2.54-3.482s-.41-29.426-2.437-40.276Z" transform="translate(-253.216 -203.696)" fill="#e8734d"/>
                                </g>
                                <g id="Group_461" data-name="Group 461" transform="translate(29.3 33.321)">
                                    <path id="Path_870" data-name="Path 870" d="M248.947,189.586l-2.087,2.442s-3.35-.649-4.333-2.4S248.947,189.586,248.947,189.586Z" transform="translate(-242.437 -188.84)" fill="#eea987"/>
                                </g>
                                <g id="Group_462" data-name="Group 462" transform="translate(33.723 31.93)">
                                    <path id="Path_871" data-name="Path 871" d="M256.249,185.3s-.242,1.862-2.566,4.579l2.536,3.407,1.373-7.069Z" transform="translate(-253.683 -185.303)" fill="#c4c1cc"/>
                                </g>
                                <g id="Group_463" data-name="Group 463" transform="translate(24.418 29.692)">
                                    <path id="Path_872" data-name="Path 872" d="M231.1,179.611s4.843,5.478,8.231,6.818l-1.575,3.9-7.73-8.527Z" transform="translate(-230.024 -179.611)" fill="#c4c1cc"/>
                                </g>
                                <g id="Group_465" data-name="Group 465" transform="translate(45.492 38.972)">
                                    <g id="Group_464" data-name="Group 464">
                                    <path id="Path_873" data-name="Path 873" d="M313.4,243.49s-6.429-6.235-10.645-7.272c-1.949-.48-4.517-3.171-6.957-6.334-.8-1.041-1.593-2.135-2.343-3.217a.007.007,0,0,1,0,0c-2.993-4.322-5.339-8.465-5.339-8.465s-8.848-10.369-1.747-14.991a11.859,11.859,0,0,1,4.712.841c1.716.932,5.376,8.572,6,9.925s7.344,13.917,7.794,14.2a18.641,18.641,0,0,0,3.891,2.764c3.294,1.773,8.468,6.964,8.468,6.964Z" transform="translate(-283.605 -203.206)" fill="#323657"/>
                                    </g>
                                </g>
                                <g id="Group_466" data-name="Group 466" transform="translate(35.821 75.621)">
                                    <path id="Path_874" data-name="Path 874" d="M267.62,307.237a4.082,4.082,0,0,1-1.283-.244s-.672-.431-1.168-.708a3.751,3.751,0,0,0-.392-.2,7.474,7.474,0,0,1-2.159-1.029c-.846-.644-3.6-3.222-3.6-3.222L260.8,299.1l.822-2.712s6.426.639,7.283,1.148a2.533,2.533,0,0,1,.236.158,9.548,9.548,0,0,1,1.311,1.466c.12.113,1.239,1.311,1.176,1.8a1.6,1.6,0,0,1-.838,1.312,3.826,3.826,0,0,1-.906,1.9,2.377,2.377,0,0,1-1.222,1.708S268.349,307.091,267.62,307.237Z" transform="translate(-259.016 -296.385)" fill="#efaa88"/>
                                </g>
                                <g id="Group_467" data-name="Group 467" transform="translate(24.031 3.414)">
                                    <path id="Path_875" data-name="Path 875" d="M239.2,113.013s11.614-2.8,9.167,11.9-5.232,15.9-12.307,12.966-6.583-12.337-7-16.939S235.487,113.227,239.2,113.013Z" transform="translate(-229.04 -112.8)" fill="#eea886"/>
                                </g>
                                <g id="Group_468" data-name="Group 468" transform="translate(25.162 12.703)">
                                    <path id="Path_876" data-name="Path 876" d="M234.846,137.524c-.172-1.292-2.737-1.728-2.914.214s1.241,5.327,2.206,4.978S235.084,139.305,234.846,137.524Z" transform="translate(-231.916 -136.417)" fill="#eea886"/>
                                </g>
                                <g id="Group_469" data-name="Group 469" transform="translate(23.103)">
                                    <path id="Path_877" data-name="Path 877" d="M228.306,123.2s.233-4.625,1.918-4.794,1.973,1.688,1.973,1.688l1.709.3s-.6-4.042,1.076-4.774,10.951,2.069,12.286.861.578-9.414-1.885-10.5-9.256-3.508-14.157-.085c0,0-3.865-.383-4.392,2.739S227.223,120.9,228.306,123.2Z" transform="translate(-226.682 -104.12)" fill="#16202e"/>
                                </g>
                                <g id="Group_470" data-name="Group 470" transform="translate(20.153 71.691)">
                                    <path id="Path_878" data-name="Path 878" d="M239.644,290.323l-4.8,8.245s-12.7-3.274-15.668-4.11l6.776-8.065S235.947,288.676,239.644,290.323Z" transform="translate(-219.181 -286.393)" fill="#323657"/>
                                </g>
                                <g id="Group_471" data-name="Group 471" transform="translate(27.612 26.008)">
                                    <path id="Path_879" data-name="Path 879" d="M246.79,175.676h0a11.108,11.108,0,0,1-8.644-5.431,12.878,12.878,0,0,0,8.611,3.777c0,.12,0,.24,0,.36,0,.2,0,.391.007.586C246.769,175.212,246.778,175.448,246.79,175.676Z" transform="translate(-238.144 -170.246)" fill="#a77860"/>
                                </g>
                                </g>
                                <g id="Group_473" data-name="Group 473" transform="translate(217.128 166.122)">
                                <path id="Path_880" data-name="Path 880" d="M294.127,268.606c7.22,7.432,16.759,16.792,16.759,16.792l3.729-7.079s-8.473-9.933-14.217-16.561A12.048,12.048,0,0,0,294.127,268.606Z" transform="translate(-294.127 -261.758)" fill="#eea886"/>
                                </g>
                                <g id="Group_475" data-name="Group 475" transform="translate(211.782 182.963)">
                                <g id="Group_474" data-name="Group 474" transform="translate(0 0)">
                                    <path id="Path_881" data-name="Path 881" d="M281.42,304.576a21.189,21.189,0,0,1,2.451,1.357c.507.419,2.564,1.958,3.063,2.321s-.752,1.392-4.429-.2S281.42,304.576,281.42,304.576Z" transform="translate(-280.533 -304.576)" fill="#eea886"/>
                                </g>
                                </g>
                                <g id="Group_476" data-name="Group 476" transform="translate(209.451 161.69)">
                                <path id="Path_882" data-name="Path 882" d="M278,250.491l-3.388,31.5H319.2l3.388-31.5Z" transform="translate(-274.607 -250.491)" fill="#ffc955"/>
                                </g>
                                <g id="Group_477" data-name="Group 477" transform="translate(205.902 190.355)">
                                <rect id="Rectangle_464" data-name="Rectangle 464" width="7.448" height="2.834" transform="translate(7.448 2.834) rotate(180)" fill="#ffc955"/>
                                </g>
                                <g id="Group_480" data-name="Group 480" transform="translate(167.21 193.123)">
                                <g id="Group_479" data-name="Group 479">
                                    <g id="Group_478" data-name="Group 478" clip-path="url(#clip-path)">
                                    <path id="Path_883" data-name="Path 883" d="M167.21,330.409v0Z" transform="translate(-167.21 -330.409)" fill="#96cbff"/>
                                    <rect id="Rectangle_465" data-name="Rectangle 465" width="1.357" height="1.919" fill="#96cbff"/>
                                    <rect id="Rectangle_466" data-name="Rectangle 466" width="1.357" height="1.919" transform="translate(1.357)" fill="#95caff"/>
                                    <rect id="Rectangle_467" data-name="Rectangle 467" width="1.357" height="1.919" transform="translate(2.715)" fill="#94c9ff"/>
                                    <rect id="Rectangle_468" data-name="Rectangle 468" width="1.357" height="1.919" transform="translate(4.072)" fill="#93c9ff"/>
                                    <rect id="Rectangle_469" data-name="Rectangle 469" width="1.357" height="1.919" transform="translate(5.43)" fill="#92c8ff"/>
                                    <rect id="Rectangle_470" data-name="Rectangle 470" width="1.357" height="1.919" transform="translate(6.787)" fill="#91c7ff"/>
                                    <rect id="Rectangle_471" data-name="Rectangle 471" width="1.357" height="1.919" transform="translate(8.144)" fill="#90c6ff"/>
                                    <rect id="Rectangle_472" data-name="Rectangle 472" width="1.357" height="1.919" transform="translate(9.502)" fill="#8fc6ff"/>
                                    <rect id="Rectangle_473" data-name="Rectangle 473" width="1.358" height="1.919" transform="translate(10.859)" fill="#8ec5ff"/>
                                    <rect id="Rectangle_474" data-name="Rectangle 474" width="1.357" height="1.919" transform="translate(12.217)" fill="#8dc4ff"/>
                                    <rect id="Rectangle_475" data-name="Rectangle 475" width="1.357" height="1.919" transform="translate(13.574)" fill="#8cc3ff"/>
                                    <rect id="Rectangle_476" data-name="Rectangle 476" width="1.357" height="1.919" transform="translate(14.932)" fill="#8bc2ff"/>
                                    <rect id="Rectangle_477" data-name="Rectangle 477" width="1.357" height="1.919" transform="translate(16.289)" fill="#8ac2ff"/>
                                    <rect id="Rectangle_478" data-name="Rectangle 478" width="1.357" height="1.919" transform="translate(17.646)" fill="#89c1ff"/>
                                    <rect id="Rectangle_479" data-name="Rectangle 479" width="1.357" height="1.919" transform="translate(19.004)" fill="#88c0ff"/>
                                    <rect id="Rectangle_480" data-name="Rectangle 480" width="1.357" height="1.919" transform="translate(20.361)" fill="#87bfff"/>
                                    <rect id="Rectangle_481" data-name="Rectangle 481" width="1.357" height="1.919" transform="translate(21.719)" fill="#86bfff"/>
                                    <rect id="Rectangle_482" data-name="Rectangle 482" width="1.357" height="1.919" transform="translate(23.076)" fill="#85beff"/>
                                    <rect id="Rectangle_483" data-name="Rectangle 483" width="1.357" height="1.919" transform="translate(24.433)" fill="#84bdff"/>
                                    <rect id="Rectangle_484" data-name="Rectangle 484" width="1.358" height="1.919" transform="translate(25.791)" fill="#83bcff"/>
                                    <rect id="Rectangle_485" data-name="Rectangle 485" width="1.357" height="1.919" transform="translate(27.148)" fill="#82bbff"/>
                                    <rect id="Rectangle_486" data-name="Rectangle 486" width="1.357" height="1.919" transform="translate(28.506)" fill="#81bbff"/>
                                    <rect id="Rectangle_487" data-name="Rectangle 487" width="1.357" height="1.919" transform="translate(29.863)" fill="#80baff"/>
                                    <rect id="Rectangle_488" data-name="Rectangle 488" width="1.357" height="1.919" transform="translate(31.221)" fill="#7fb9ff"/>
                                    <rect id="Rectangle_489" data-name="Rectangle 489" width="1.357" height="1.919" transform="translate(32.578)" fill="#7eb8ff"/>
                                    <rect id="Rectangle_490" data-name="Rectangle 490" width="1.357" height="1.919" transform="translate(33.935)" fill="#7db7ff"/>
                                    <rect id="Rectangle_491" data-name="Rectangle 491" width="1.357" height="1.919" transform="translate(35.293)" fill="#7cb7ff"/>
                                    <rect id="Rectangle_492" data-name="Rectangle 492" width="1.357" height="1.919" transform="translate(36.65)" fill="#7bb6ff"/>
                                    <rect id="Rectangle_493" data-name="Rectangle 493" width="1.357" height="1.919" transform="translate(38.008)" fill="#7ab5ff"/>
                                    <rect id="Rectangle_494" data-name="Rectangle 494" width="1.357" height="1.919" transform="translate(39.365)" fill="#79b4ff"/>
                                    <rect id="Rectangle_495" data-name="Rectangle 495" width="1.358" height="1.919" transform="translate(40.722)" fill="#78b4ff"/>
                                    <rect id="Rectangle_496" data-name="Rectangle 496" width="1.357" height="1.919" transform="translate(42.08)" fill="#77b3ff"/>
                                    <rect id="Rectangle_497" data-name="Rectangle 497" width="1.357" height="1.919" transform="translate(43.437)" fill="#76b2ff"/>
                                    <rect id="Rectangle_498" data-name="Rectangle 498" width="1.357" height="1.919" transform="translate(44.795)" fill="#74b1ff"/>
                                    <rect id="Rectangle_499" data-name="Rectangle 499" width="1.357" height="1.919" transform="translate(46.152)" fill="#73b0ff"/>
                                    <rect id="Rectangle_500" data-name="Rectangle 500" width="1.357" height="1.919" transform="translate(47.51)" fill="#72b0ff"/>
                                    <rect id="Rectangle_501" data-name="Rectangle 501" width="1.357" height="1.919" transform="translate(48.867)" fill="#71afff"/>
                                    <rect id="Rectangle_502" data-name="Rectangle 502" width="1.357" height="1.919" transform="translate(50.224)" fill="#70aeff"/>
                                    <rect id="Rectangle_503" data-name="Rectangle 503" width="1.357" height="1.919" transform="translate(51.582)" fill="#6fadff"/>
                                    <rect id="Rectangle_504" data-name="Rectangle 504" width="1.357" height="1.919" transform="translate(52.939)" fill="#6eadff"/>
                                    <rect id="Rectangle_505" data-name="Rectangle 505" width="1.358" height="1.919" transform="translate(54.297)" fill="#6dacff"/>
                                    <rect id="Rectangle_506" data-name="Rectangle 506" width="1.357" height="1.919" transform="translate(55.654)" fill="#6cabff"/>
                                    <rect id="Rectangle_507" data-name="Rectangle 507" width="1.357" height="1.919" transform="translate(57.012)" fill="#6baaff"/>
                                    <rect id="Rectangle_508" data-name="Rectangle 508" width="1.357" height="1.919" transform="translate(58.369)" fill="#6aa9ff"/>
                                    <rect id="Rectangle_509" data-name="Rectangle 509" width="1.357" height="1.919" transform="translate(59.726)" fill="#69a9ff"/>
                                    <rect id="Rectangle_510" data-name="Rectangle 510" width="1.357" height="1.919" transform="translate(61.084)" fill="#68a8ff"/>
                                    <rect id="Rectangle_511" data-name="Rectangle 511" width="1.357" height="1.919" transform="translate(62.441)" fill="#67a7ff"/>
                                    <rect id="Rectangle_512" data-name="Rectangle 512" width="1.357" height="1.919" transform="translate(63.799)" fill="#66a6ff"/>
                                    <rect id="Rectangle_513" data-name="Rectangle 513" width="1.357" height="1.919" transform="translate(65.156)" fill="#65a6ff"/>
                                    <rect id="Rectangle_514" data-name="Rectangle 514" width="1.357" height="1.919" transform="translate(66.513)" fill="#64a5ff"/>
                                    <rect id="Rectangle_515" data-name="Rectangle 515" width="1.357" height="1.919" transform="translate(67.871)" fill="#63a4ff"/>
                                    <rect id="Rectangle_516" data-name="Rectangle 516" width="1.358" height="1.919" transform="translate(69.228)" fill="#62a3ff"/>
                                    <rect id="Rectangle_517" data-name="Rectangle 517" width="1.357" height="1.919" transform="translate(70.586)" fill="#61a2ff"/>
                                    <rect id="Rectangle_518" data-name="Rectangle 518" width="1.357" height="1.919" transform="translate(71.943)" fill="#60a2ff"/>
                                    <rect id="Rectangle_519" data-name="Rectangle 519" width="1.357" height="1.919" transform="translate(73.301)" fill="#5fa1ff"/>
                                    <rect id="Rectangle_520" data-name="Rectangle 520" width="1.357" height="1.919" transform="translate(74.658)" fill="#5ea0ff"/>
                                    <rect id="Rectangle_521" data-name="Rectangle 521" width="1.357" height="1.919" transform="translate(76.015)" fill="#5d9fff"/>
                                    <rect id="Rectangle_522" data-name="Rectangle 522" width="1.357" height="1.919" transform="translate(77.373)" fill="#5c9eff"/>
                                    <rect id="Rectangle_523" data-name="Rectangle 523" width="1.357" height="1.919" transform="translate(78.73)" fill="#5b9eff"/>
                                    <rect id="Rectangle_524" data-name="Rectangle 524" width="1.357" height="1.919" transform="translate(80.088)" fill="#5a9dff"/>
                                    <rect id="Rectangle_525" data-name="Rectangle 525" width="1.357" height="1.919" transform="translate(81.445)" fill="#599cff"/>
                                    <rect id="Rectangle_526" data-name="Rectangle 526" width="1.357" height="1.919" transform="translate(82.802)" fill="#589bff"/>
                                    <rect id="Rectangle_527" data-name="Rectangle 527" width="1.358" height="1.919" transform="translate(84.16)" fill="#579bff"/>
                                    <rect id="Rectangle_528" data-name="Rectangle 528" width="1.357" height="1.919" transform="translate(85.517)" fill="#569aff"/>
                                    <rect id="Rectangle_529" data-name="Rectangle 529" width="1.357" height="1.919" transform="translate(86.875)" fill="#59f"/>
                                    <path id="Path_884" data-name="Path 884" d="M391.539,332.328v0Z" transform="translate(-303.307 -330.409)" fill="#59f"/>
                                    </g>
                                </g>
                                </g>
                                <g id="Group_481" data-name="Group 481" transform="translate(230.88 174.223)">
                                <path id="Path_885" data-name="Path 885" d="M329.176,285.066c-.359,1.753.46,3.4,1.827,3.681s2.767-.916,3.125-2.669-.46-3.4-1.827-3.681S329.535,283.312,329.176,285.066Z" transform="translate(-329.092 -282.356)" fill="#cfa345"/>
                                </g>
                            </g>
                            </svg>
                    </figure>
                </div>
            </div>
        </div>
        <div class="roles">
            <div class="box" id="b2">
                <div class="box1">
                    <div class="cajita">
                        <div class="roles">
                            <div>
                                <h2>Rol</h2>
                                <h1>Cajero</h1>
                            </div>
                        </div>
                        <div class="cantidad-usuarios">
                            <h1>2 Usuario</h1>
                        </div>
                    </div>
                </div>
                <div class="box2">
                    <figure>
                        <svg xmlns="http://www.w3.org/2000/svg" width="107.096" height="91.433" viewBox="0 0 107.096 91.433">
                            <g id="Cajero" transform="translate(-332.392 -139.132)">
                                <g id="Group_490" data-name="Group 490" transform="translate(359.91 139.132)">
                                <path id="Path_886" data-name="Path 886" d="M400.341,179.35l6.565-2.169a9.993,9.993,0,0,0,6.276-6.131L413.2,171s1.132-5.6-.907-2.9c-2.622,3.467-9.613,5.145-9.613,5.145Z" transform="translate(-338.696 -130.317)" fill="#ffc988"/>
                                <g id="Group_486" data-name="Group 486">
                                    <g id="Group_485" data-name="Group 485">
                                    <g id="Group_484" data-name="Group 484">
                                        <g id="Group_483" data-name="Group 483">
                                        <path id="Path_887" data-name="Path 887" d="M374.772,144.176a4.139,4.139,0,0,1,2.753.894,3.879,3.879,0,0,0,.121-.916c0-2.777-2.924-5.022-6.533-5.022V143.3C372.747,143.2,374.154,143.479,374.772,144.176Z" transform="translate(-347.822 -139.132)" fill="#6d0c05"/>
                                        <path id="Path_888" data-name="Path 888" d="M372.666,139.132h0c-3.606,0-6.531,2.245-6.531,5.022a3.932,3.932,0,0,0,.262,1.335,11.92,11.92,0,0,1,6.27-2.19Z" transform="translate(-349.376 -139.132)" fill="#6d0c05"/>
                                        <path id="Path_889" data-name="Path 889" d="M371.179,182.286v-.7l3.609-12.782-3.675-3.682Z" transform="translate(-347.822 -131.018)" fill="#f7b56d"/>
                                        <path id="Path_890" data-name="Path 890" d="M372.36,183.237l-.067-17.164-2.561-2.565a7.957,7.957,0,0,1-2.4-1.433v3.98l5.032,16.481Z" transform="translate(-349.003 -131.969)" fill="#f7b56d"/>
                                        <path id="Path_891" data-name="Path 891" d="M369.16,163.167l2.561,2.565v-2.085A7.353,7.353,0,0,1,369.16,163.167Z" transform="translate(-348.431 -131.628)" fill="#f7b56d"/>
                                        <path id="Path_892" data-name="Path 892" d="M371.112,163.933v2.085l3.675,3.681.991-3.729v-3.716a7.529,7.529,0,0,1-4.664,1.681Z" transform="translate(-347.822 -131.913)" fill="#f7b56d"/>
                                        <path id="Path_893" data-name="Path 893" d="M373.65,168.052v-19h0c-2.578,1.971-8.12,4.027-9.238,4.431l.178.6-.392-.526c-.34-.478-.691-.758-.932-.758-.012,0-.026.005-.054.03-.255.262-.294,1.541-.134,3.8.143,1.983,1.386,3.846,2.072,3.846a.305.305,0,0,0,.159-.06l.146-.108.037.173a9.936,9.936,0,0,0,3.194,5.646,7.957,7.957,0,0,0,2.4,1.433A7.353,7.353,0,0,0,373.65,168.052Z" transform="translate(-350.36 -136.033)" fill="#ffc988"/>
                                        <path id="Path_894" data-name="Path 894" d="M372.922,147.408a7.294,7.294,0,0,1-1.81,2.164v19h0a7.529,7.529,0,0,0,4.664-1.681,9.8,9.8,0,0,0,3.489-5.88l.041-.173.151.108a.291.291,0,0,0,.171.06c.673,0,1.913-1.863,2.058-3.846.163-2.264.118-3.542-.135-3.8a.088.088,0,0,0-.058-.03c-.234,0-.583.281-.93.753l-.386.531.182-.627a73.346,73.346,0,0,0-5.923-4.509A3.789,3.789,0,0,1,372.922,147.408Z" transform="translate(-347.822 -136.548)" fill="#ffc988"/>
                                        <path id="Path_895" data-name="Path 895" d="M408.634,176.182l-14.211,10.659s-8.455-21.171-11.572-21.171l-7.085-.585-.991,3.729L371.167,181.6l-.017,37.385,15.38-.445c-1.533-13.4-2.121-9.84-6.729-19.389l3.136-14.8,10.477,11.124,18.557-15.7Z" transform="translate(-347.81 -131.029)" fill="#8fbde2"/>
                                        <path id="Path_896" data-name="Path 896" d="M374.455,143.1a18.983,18.983,0,0,1-1.964,5.7,3.789,3.789,0,0,0,1.516,2.063,73.345,73.345,0,0,1,5.923,4.509s1.5-4.085,1.05-6.27a10.015,10.015,0,0,0-3.885-5.224,4.139,4.139,0,0,0-2.753-.894A1.369,1.369,0,0,1,374.455,143.1Z" transform="translate(-347.391 -137.937)" fill="#891809"/>
                                        <g id="Group_482" data-name="Group 482" transform="translate(13.547 4.148)">
                                            <path id="Path_897" data-name="Path 897" d="M365.325,146.566a13.169,13.169,0,0,0-1.348,9.107l.214-.076c1.118-.4,6.659-2.46,9.238-4.431h0v-8.857a11.92,11.92,0,0,0-6.27,2.19A6.57,6.57,0,0,0,365.325,146.566Z" transform="translate(-363.687 -142.289)" fill="#a0210c"/>
                                            <path id="Path_898" data-name="Path 898" d="M374.772,143.189c-.618-.7-2.025-.972-3.66-.878v8.857a7.3,7.3,0,0,0,1.81-2.164,18.983,18.983,0,0,0,1.964-5.7A1.358,1.358,0,0,0,374.772,143.189Z" transform="translate(-361.369 -142.293)" fill="#a0210c"/>
                                        </g>
                                        <path id="Path_899" data-name="Path 899" d="M376.72,183.962V182.3h0v-.7l-5.032-16.481-.009-.03-8.346,2.055c-7,5.879-8.586,35.573-8.586,35.573l-1.384,17.1,3.86-1.714.214-.094,5.053-18.783,2.543-15.256,3.131,14.962c-4.656,9.747-6.628,9.465-7.476,19.612l14.9.445H376.7Z" transform="translate(-353.363 -131.029)" fill="#8fbde2"/>
                                        </g>
                                    </g>
                                    </g>
                                </g>
                                <rect id="Rectangle_531" data-name="Rectangle 531" width="15.619" height="6.621" transform="translate(64.685 47.733) rotate(-81.284)" fill="#b6e5ff"/>
                                <g id="Group_489" data-name="Group 489" transform="translate(60.825 38.018)">
                                    <g id="Group_488" data-name="Group 488">
                                    <g id="Group_487" data-name="Group 487">
                                        <path id="Path_900" data-name="Path 900" d="M405.015,170.582c1.265-.823,3.149-1.466,2.13-2.477,0,0-4.79.274-6.25,4.2-1.228,3.3-.676,2.837-1.178,2.93l3.337,3.584S403.742,171.4,405.015,170.582Z" transform="translate(-399.716 -168.105)" fill="#ffc988"/>
                                    </g>
                                    </g>
                                </g>
                                </g>
                                <g id="Group_491" data-name="Group 491" transform="translate(392.083 186.832)">
                                <rect id="Rectangle_532" data-name="Rectangle 532" width="34.882" height="10.556" transform="translate(0 29.251)" fill="#3e4b60"/>
                                <path id="Path_901" data-name="Path 901" d="M403.2,187.82H386.33a3.355,3.355,0,0,0-3.156,2.219l-3.458,9.625a.91.91,0,0,0,.857,1.218h28.383a.911.911,0,0,0,.858-1.218l-3.459-9.625A3.352,3.352,0,0,0,403.2,187.82Z" transform="translate(-377.325 -171.631)" fill="#1d283e"/>
                                <rect id="Rectangle_533" data-name="Rectangle 533" width="15.643" height="3.792" transform="translate(9.62 12.397)" fill="#2e384c"/>
                                <path id="Path_902" data-name="Path 902" d="M395.761,188.2l-1.893.017V178.188l1.8-.017Z" transform="translate(-372.89 -174.644)" fill="#2e384c"/>
                                <rect id="Rectangle_534" data-name="Rectangle 534" width="11.184" height="5.162" transform="translate(14.078)" fill="#1d283e"/>
                                </g>
                                <rect id="Rectangle_535" data-name="Rectangle 535" width="107.096" height="4.675" transform="translate(332.392 225.89)" fill="#1d283e"/>
                                <g id="Group_496" data-name="Group 496" transform="translate(339.586 188.152)">
                                <g id="Group_492" data-name="Group 492" transform="translate(5.41)">
                                    <path id="Path_903" data-name="Path 903" d="M342.981,187.921H342V180.49a4.036,4.036,0,0,1,8.071,0v6.949h-.984V180.49a3.052,3.052,0,0,0-6.1,0Z" transform="translate(-341.997 -176.489)" fill="#ed4024"/>
                                </g>
                                <g id="Group_493" data-name="Group 493" transform="translate(9.899)">
                                    <path id="Path_904" data-name="Path 904" d="M346.4,187.921h-.984V180.49a4.036,4.036,0,0,1,8.071,0v6.949h-.984V180.49a3.052,3.052,0,0,0-6.1,0Z" transform="translate(-345.418 -176.489)" fill="#ff5b40"/>
                                </g>
                                <g id="Group_494" data-name="Group 494" transform="translate(0 7.232)">
                                    <path id="Path_905" data-name="Path 905" d="M343.524,182h-2.658l-2.992,30.506,5.65-1.839Z" transform="translate(-337.874 -182)" fill="#891809"/>
                                    <path id="Path_906" data-name="Path 906" d="M342.18,182v28.667l5.651,1.839L344.839,182Z" transform="translate(-336.53 -182)" fill="#891809"/>
                                    <path id="Path_907" data-name="Path 907" d="M343.524,203.847l-5.65,1.839h11.3l-5.651-1.839Z" transform="translate(-337.874 -175.18)" fill="#891809"/>
                                </g>
                                <g id="Group_495" data-name="Group 495" transform="translate(8.309 7.232)">
                                    <path id="Path_908" data-name="Path 908" d="M344.206,182l2.992,30.506h13.309L356.263,182Z" transform="translate(-344.206 -182)" fill="#a0210c"/>
                                </g>
                                </g>
                            </g>
                            </svg>
                    </figure>
                </div>
            </div>
        </div>
        <div class="roles">
            <div class="box" id="b3">
                <div class="box1">
                    <div class="cajita">
                        <div class="roles">
                            <div>
                                <h2>Rol</h2>
                                <h1>Vendedor</h1>
                            </div>
                        </div>
                        <div class="cantidad-usuarios">
                            <h1>3 Usuario</h1>
                        </div>
                    </div>
                </div>
                <div class="box2">
                    <figure>
                        <svg xmlns="http://www.w3.org/2000/svg" width="93.84" height="91.098" viewBox="0 0 93.84 91.098">
                            <g id="Vendedor" transform="translate(-139.058 -242.637)">
                                <g id="Group_515" data-name="Group 515" transform="translate(151.163 242.637)">
                                <g id="Group_514" data-name="Group 514">
                                    <g id="Group_513" data-name="Group 513">
                                    <path id="Path_909" data-name="Path 909" d="M176.97,322.529H165.849L164.564,306.7c-.587-7.488,13.054-28.338,13.054-28.338v35.67Z" transform="translate(-143.167 -231.431)" fill="#5d6387"/>
                                    <path id="Path_910" data-name="Path 910" d="M177.814,322.529h8.77l1.286-15.834c.586-7.488-13.374-28.338-13.374-28.338V314.81Z" transform="translate(-140.045 -231.431)" fill="#5d6387" style="mix-blend-mode: multiply;isolation: isolate"/>
                                    <path id="Path_911" data-name="Path 911" d="M177.814,322.529h8.77l1.286-15.834c.586-7.488-13.374-28.338-13.374-28.338V314.81Z" transform="translate(-140.045 -231.431)" fill="#5d6387"/>
                                    <g id="Group_505" data-name="Group 505" transform="translate(24.78)">
                                        <g id="Group_498" data-name="Group 498" transform="translate(3.18 21.619)">
                                        <path id="Path_912" data-name="Path 912" d="M169.556,271.1l6.492,3.141V259.094H171.97Z" transform="translate(-169.556 -259.094)" fill="#f7b56d"/>
                                        </g>
                                        <g id="Group_499" data-name="Group 499" transform="translate(9.672 21.619)">
                                        <path id="Path_913" data-name="Path 913" d="M181.306,271.1l-6.809,3.141V259.094h4.4Z" transform="translate(-174.497 -259.094)" fill="#f7b56d"/>
                                        </g>
                                        <g id="Group_500" data-name="Group 500" transform="translate(9.672 0.777)">
                                        <path id="Path_914" data-name="Path 914" d="M174.5,268.188V243.229h1.549c3.8,0,7.855,4,7.855,7.392l-1.34,9.347C182.009,263.818,178.643,267.028,174.5,268.188Z" transform="translate(-174.497 -243.229)" fill="#ffc988"/>
                                        </g>
                                        <g id="Group_501" data-name="Group 501" transform="translate(16.985 11.813)">
                                        <path id="Path_915" data-name="Path 915" d="M180.064,258.312h.013a1.769,1.769,0,0,0,1.641-1.6l.7-4.354c.1-.536-.415-.931-.793-.616l-1.272,1.061Z" transform="translate(-180.064 -251.63)" fill="#ffc988"/>
                                        </g>
                                        <g id="Group_502" data-name="Group 502" transform="translate(0.281 0.777)">
                                        <path id="Path_916" data-name="Path 916" d="M176.739,268.188V243.229h0c-3.8,0-9.39,4-9.39,7.392l1.339,9.347C169.239,263.818,172.595,267.028,176.739,268.188Z" transform="translate(-167.349 -243.229)" fill="#ffc988"/>
                                        </g>
                                        <g id="Group_503" data-name="Group 503" transform="translate(0 11.813)">
                                        <path id="Path_917" data-name="Path 917" d="M169.5,258.312h-.013a1.769,1.769,0,0,1-1.641-1.6l-.7-4.354c-.1-.536.415-.931.793-.616l1.273,1.061Z" transform="translate(-167.135 -251.63)" fill="#ffc988"/>
                                        </g>
                                        <g id="Group_504" data-name="Group 504" transform="translate(0.07)">
                                        <path id="Path_918" data-name="Path 918" d="M171.442,248.327s-.737-.518-1.21,2.3-.79,5.826-.79,5.826-1.63-.131-2.157-4.083a9.414,9.414,0,0,1,2.078-7.571c.868-.892,3.534-2.066,7.426-2.16a9.715,9.715,0,0,1,7.853,3.1c2.051,1.927,1.846,3.777,1.63,5.638a37.521,37.521,0,0,1-1.587,5.686,14.608,14.608,0,0,0-1.99-5.357,37.62,37.62,0,0,0-2.472-3.1s2.776,2.637,3.879,3.812S171.442,248.327,171.442,248.327Z" transform="translate(-167.188 -242.637)" fill="#2e384c"/>
                                        </g>
                                    </g>
                                    <g id="Group_510" data-name="Group 510" transform="translate(34.452 23.714)">
                                        <g id="Group_509" data-name="Group 509" transform="translate(31.542)">
                                        <g id="Group_508" data-name="Group 508">
                                            <g id="Group_507" data-name="Group 507">
                                            <g id="Group_506" data-name="Group 506">
                                                <path id="Path_919" data-name="Path 919" d="M213.607,267.614c1.357-4.222.2-6.174-.2-6.793-.9-1.415-4.587,8.96-10.456,10.41-1.224.3-.809-4.842-.809-6.163,0-2.323-.348-1.439-1.239-2.323a30.463,30.463,0,0,1-1.372,8.283c-1.072,2.878-.591,2.474-1.027,2.557l2.91,3.125S212.245,271.836,213.607,267.614Z" transform="translate(-198.507 -260.688)" fill="#ffc988"/>
                                            </g>
                                            </g>
                                        </g>
                                        </g>
                                        <path id="Path_920" data-name="Path 920" d="M186.569,304.636l1.3-23.187c0-3.736,6.326-17.312-2.643-16.209h-4.66c-2.31,2.308-3.762,3.6-6.071,5.912v33.484Z" transform="translate(-174.497 -259.28)" fill="#02331e"/>
                                        <path id="Path_921" data-name="Path 921" d="M205.756,275.237l-2.563-3.962-8.138,9.612s-4.115-9.217-4.8-10.864a7.84,7.84,0,0,0-5.541-4.63l-.035-.008.017,13.3,8.244,10.909a2.415,2.415,0,0,0,3.756.122Z" transform="translate(-171.303 -259.215)" fill="#02331e"/>
                                    </g>
                                    <g id="Group_511" data-name="Group 511" transform="translate(0 29.61)">
                                        <path id="Path_922" data-name="Path 922" d="M166.137,304.636l-1.3-23.187c0-3.736-6.327-17.312,2.643-16.209h4.66c2.308,2.308,3.761,3.6,6.069,5.912v33.484Z" transform="translate(-143.755 -265.177)" fill="#02331e"/>
                                        <path id="Path_923" data-name="Path 923" d="M148.272,275.237l2.564-3.962,8.137,9.612s4.116-9.217,4.8-10.864a7.842,7.842,0,0,1,5.543-4.63l.035-.008-.018,13.3-8.242,10.909a2.416,2.416,0,0,1-3.757.122Z" transform="translate(-148.272 -265.111)" fill="#02331e"/>
                                    </g>
                                    <g id="Group_512" data-name="Group 512" transform="translate(24.208 29.674)">
                                        <path id="Path_924" data-name="Path 924" d="M171.191,265.225H166.7a26.041,26.041,0,0,0,1.759,3.086,19.387,19.387,0,0,0,5.663,5.9l2.822-3.074C174.635,268.829,173.5,267.533,171.191,265.225Z" transform="translate(-166.699 -265.225)" fill="#355c4b"/>
                                        <path id="Path_925" data-name="Path 925" d="M180.25,265.225h4.493a26.235,26.235,0,0,1-1.759,3.086,19.4,19.4,0,0,1-5.665,5.9l-2.822-3.074C176.805,268.829,177.942,267.533,180.25,265.225Z" transform="translate(-164.253 -265.225)" fill="#355c4b"/>
                                    </g>
                                    <path id="Path_926" data-name="Path 926" d="M172.349,272.913l2.146,2.349-2.146,10.557,2.828,4.105V269.358Z" transform="translate(-140.719 -234.254)" fill="#5d6387"/>
                                    <path id="Path_927" data-name="Path 927" d="M177.33,272.913l-2.146,2.349,2.146,10.557-2.828,4.105V269.358Z" transform="translate(-140.043 -234.254)" fill="#5d6387"/>
                                    </g>
                                    <rect id="Rectangle_536" data-name="Rectangle 536" width="6.841" height="4.402" transform="translate(38.801 39.995)" fill="#addae9"/>
                                </g>
                                </g>
                                <g id="Group_516" data-name="Group 516" transform="translate(220.795 263.887)">
                                <rect id="Rectangle_537" data-name="Rectangle 537" width="10.661" height="16.849" rx="1.604" fill="#0f3254"/>
                                <rect id="Rectangle_538" data-name="Rectangle 538" width="8.717" height="13.491" rx="1.442" transform="translate(0.972 0.953)" fill="#addae9"/>
                                </g>
                                <g id="Group_520" data-name="Group 520" transform="translate(139.058 266.542)">
                                <g id="Group_519" data-name="Group 519">
                                    <g id="Group_518" data-name="Group 518">
                                    <g id="Group_517" data-name="Group 517">
                                        <path id="Path_928" data-name="Path 928" d="M139.7,267.758c-1.358-4.22-.2-6.174.2-6.792.9-1.416,4.586,8.96,10.456,10.409,1.223.3.808-4.841.808-6.163,0-2.321.349-1.438,1.239-2.321a30.506,30.506,0,0,0,1.372,8.282c1.073,2.88.591,2.475,1.029,2.556l-2.91,3.127S141.061,271.98,139.7,267.758Z" transform="translate(-139.058 -260.833)" fill="#ffc988"/>
                                    </g>
                                    </g>
                                </g>
                                </g>
                                <g id="Group_521" data-name="Group 521" transform="translate(140.501 264.077)">
                                <path id="Rectangle_539" data-name="Rectangle 539" d="M1.6,0H9.057a1.6,1.6,0,0,1,1.6,1.6v13.64a1.6,1.6,0,0,1-1.6,1.6H1.6a1.6,1.6,0,0,1-1.6-1.6V1.6A1.6,1.6,0,0,1,1.6,0Z" fill="#5e6e84"/>
                                <path id="Rectangle_540" data-name="Rectangle 540" d="M1.442,0H7.274A1.442,1.442,0,0,1,8.717,1.442V12.048A1.441,1.441,0,0,1,7.275,13.49H1.442A1.442,1.442,0,0,1,0,12.047V1.442A1.442,1.442,0,0,1,1.442,0Z" transform="translate(0.972 0.955)" fill="#addae9"/>
                                </g>
                            </g>
                            </svg>
                    </figure>
                </div>
            </div>
        </div>
        <div class="roles">
            <div class="box" id="b4">
                <div class="box1">
                    <div class="cajita">
                        <div class="roles">
                            <div>
                                <h2>Rol</h2>
                                <h1>Almacenero</h1>
                            </div>
                        </div>
                        <div class="cantidad-usuarios">
                            <h1>5 Usuario</h1>
                        </div>
                    </div>
                </div>
                <div class="box2">
                    <figure>
                        <svg xmlns="http://www.w3.org/2000/svg" width="93.84" height="91.098" viewBox="0 0 93.84 91.098">
                            <g id="Vendedor" transform="translate(-139.058 -242.637)">
                                <g id="Group_515" data-name="Group 515" transform="translate(151.163 242.637)">
                                <g id="Group_514" data-name="Group 514">
                                    <g id="Group_513" data-name="Group 513">
                                    <path id="Path_909" data-name="Path 909" d="M176.97,322.529H165.849L164.564,306.7c-.587-7.488,13.054-28.338,13.054-28.338v35.67Z" transform="translate(-143.167 -231.431)" fill="#5d6387"/>
                                    <path id="Path_910" data-name="Path 910" d="M177.814,322.529h8.77l1.286-15.834c.586-7.488-13.374-28.338-13.374-28.338V314.81Z" transform="translate(-140.045 -231.431)" fill="#5d6387" style="mix-blend-mode: multiply;isolation: isolate"/>
                                    <path id="Path_911" data-name="Path 911" d="M177.814,322.529h8.77l1.286-15.834c.586-7.488-13.374-28.338-13.374-28.338V314.81Z" transform="translate(-140.045 -231.431)" fill="#5d6387"/>
                                    <g id="Group_505" data-name="Group 505" transform="translate(24.78)">
                                        <g id="Group_498" data-name="Group 498" transform="translate(3.18 21.619)">
                                        <path id="Path_912" data-name="Path 912" d="M169.556,271.1l6.492,3.141V259.094H171.97Z" transform="translate(-169.556 -259.094)" fill="#f7b56d"/>
                                        </g>
                                        <g id="Group_499" data-name="Group 499" transform="translate(9.672 21.619)">
                                        <path id="Path_913" data-name="Path 913" d="M181.306,271.1l-6.809,3.141V259.094h4.4Z" transform="translate(-174.497 -259.094)" fill="#f7b56d"/>
                                        </g>
                                        <g id="Group_500" data-name="Group 500" transform="translate(9.672 0.777)">
                                        <path id="Path_914" data-name="Path 914" d="M174.5,268.188V243.229h1.549c3.8,0,7.855,4,7.855,7.392l-1.34,9.347C182.009,263.818,178.643,267.028,174.5,268.188Z" transform="translate(-174.497 -243.229)" fill="#ffc988"/>
                                        </g>
                                        <g id="Group_501" data-name="Group 501" transform="translate(16.985 11.813)">
                                        <path id="Path_915" data-name="Path 915" d="M180.064,258.312h.013a1.769,1.769,0,0,0,1.641-1.6l.7-4.354c.1-.536-.415-.931-.793-.616l-1.272,1.061Z" transform="translate(-180.064 -251.63)" fill="#ffc988"/>
                                        </g>
                                        <g id="Group_502" data-name="Group 502" transform="translate(0.281 0.777)">
                                        <path id="Path_916" data-name="Path 916" d="M176.739,268.188V243.229h0c-3.8,0-9.39,4-9.39,7.392l1.339,9.347C169.239,263.818,172.595,267.028,176.739,268.188Z" transform="translate(-167.349 -243.229)" fill="#ffc988"/>
                                        </g>
                                        <g id="Group_503" data-name="Group 503" transform="translate(0 11.813)">
                                        <path id="Path_917" data-name="Path 917" d="M169.5,258.312h-.013a1.769,1.769,0,0,1-1.641-1.6l-.7-4.354c-.1-.536.415-.931.793-.616l1.273,1.061Z" transform="translate(-167.135 -251.63)" fill="#ffc988"/>
                                        </g>
                                        <g id="Group_504" data-name="Group 504" transform="translate(0.07)">
                                        <path id="Path_918" data-name="Path 918" d="M171.442,248.327s-.737-.518-1.21,2.3-.79,5.826-.79,5.826-1.63-.131-2.157-4.083a9.414,9.414,0,0,1,2.078-7.571c.868-.892,3.534-2.066,7.426-2.16a9.715,9.715,0,0,1,7.853,3.1c2.051,1.927,1.846,3.777,1.63,5.638a37.521,37.521,0,0,1-1.587,5.686,14.608,14.608,0,0,0-1.99-5.357,37.62,37.62,0,0,0-2.472-3.1s2.776,2.637,3.879,3.812S171.442,248.327,171.442,248.327Z" transform="translate(-167.188 -242.637)" fill="#2e384c"/>
                                    </g>
                                    </g>
                                        <g id="Group_510" data-name="Group 510" transform="translate(34.452 23.714)">
                                        <g id="Group_509" data-name="Group 509" transform="translate(31.542)">
                                            <g id="Group_508" data-name="Group 508">
                                            <g id="Group_507" data-name="Group 507">
                                                <g id="Group_506" data-name="Group 506">
                                                <path id="Path_919" data-name="Path 919" d="M213.607,267.614c1.357-4.222.2-6.174-.2-6.793-.9-1.415-4.587,8.96-10.456,10.41-1.224.3-.809-4.842-.809-6.163,0-2.323-.348-1.439-1.239-2.323a30.463,30.463,0,0,1-1.372,8.283c-1.072,2.878-.591,2.474-1.027,2.557l2.91,3.125S212.245,271.836,213.607,267.614Z" transform="translate(-198.507 -260.688)" fill="#ffc988"/>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                        <path id="Path_920" data-name="Path 920" d="M186.569,304.636l1.3-23.187c0-3.736,6.326-17.312-2.643-16.209h-4.66c-2.31,2.308-3.762,3.6-6.071,5.912v33.484Z" transform="translate(-174.497 -259.28)" fill="#02331e"/>
                                        <path id="Path_921" data-name="Path 921" d="M205.756,275.237l-2.563-3.962-8.138,9.612s-4.115-9.217-4.8-10.864a7.84,7.84,0,0,0-5.541-4.63l-.035-.008.017,13.3,8.244,10.909a2.415,2.415,0,0,0,3.756.122Z" transform="translate(-171.303 -259.215)" fill="#02331e"/>
                                    </g>
                                    <g id="Group_511" data-name="Group 511" transform="translate(0 29.61)">
                                        <path id="Path_922" data-name="Path 922" d="M166.137,304.636l-1.3-23.187c0-3.736-6.327-17.312,2.643-16.209h4.66c2.308,2.308,3.761,3.6,6.069,5.912v33.484Z" transform="translate(-143.755 -265.177)" fill="#02331e"/>
                                        <path id="Path_923" data-name="Path 923" d="M148.272,275.237l2.564-3.962,8.137,9.612s4.116-9.217,4.8-10.864a7.842,7.842,0,0,1,5.543-4.63l.035-.008-.018,13.3-8.242,10.909a2.416,2.416,0,0,1-3.757.122Z" transform="translate(-148.272 -265.111)" fill="#02331e"/>
                                    </g>
                                    <g id="Group_512" data-name="Group 512" transform="translate(24.208 29.674)">
                                        <path id="Path_924" data-name="Path 924" d="M171.191,265.225H166.7a26.041,26.041,0,0,0,1.759,3.086,19.387,19.387,0,0,0,5.663,5.9l2.822-3.074C174.635,268.829,173.5,267.533,171.191,265.225Z" transform="translate(-166.699 -265.225)" fill="#355c4b"/>
                                        <path id="Path_925" data-name="Path 925" d="M180.25,265.225h4.493a26.235,26.235,0,0,1-1.759,3.086,19.4,19.4,0,0,1-5.665,5.9l-2.822-3.074C176.805,268.829,177.942,267.533,180.25,265.225Z" transform="translate(-164.253 -265.225)" fill="#355c4b"/>
                                        </g>
                                        <path id="Path_926" data-name="Path 926" d="M172.349,272.913l2.146,2.349-2.146,10.557,2.828,4.105V269.358Z" transform="translate(-140.719 -234.254)" fill="#5d6387"/>
                                        <path id="Path_927" data-name="Path 927" d="M177.33,272.913l-2.146,2.349,2.146,10.557-2.828,4.105V269.358Z" transform="translate(-140.043 -234.254)" fill="#5d6387"/>
                                    </g>
                                    <rect id="Rectangle_536" data-name="Rectangle 536" width="6.841" height="4.402" transform="translate(38.801 39.995)" fill="#addae9"/>
                                    </g>
                                </g>
                                <g id="Group_516" data-name="Group 516" transform="translate(220.795 263.887)">
                                    <rect id="Rectangle_537" data-name="Rectangle 537" width="10.661" height="16.849" rx="1.604" fill="#0f3254"/>
                                    <rect id="Rectangle_538" data-name="Rectangle 538" width="8.717" height="13.491" rx="1.442" transform="translate(0.972 0.953)" fill="#addae9"/>
                                </g>
                                <g id="Group_520" data-name="Group 520" transform="translate(139.058 266.542)">
                                    <g id="Group_519" data-name="Group 519">
                                    <g id="Group_518" data-name="Group 518">
                                        <g id="Group_517" data-name="Group 517">
                                        <path id="Path_928" data-name="Path 928" d="M139.7,267.758c-1.358-4.22-.2-6.174.2-6.792.9-1.416,4.586,8.96,10.456,10.409,1.223.3.808-4.841.808-6.163,0-2.321.349-1.438,1.239-2.321a30.506,30.506,0,0,0,1.372,8.282c1.073,2.88.591,2.475,1.029,2.556l-2.91,3.127S141.061,271.98,139.7,267.758Z" transform="translate(-139.058 -260.833)" fill="#ffc988"/>
                                        </g>
                                    </g>
                                    </g>
                                </g>
                                <g id="Group_521" data-name="Group 521" transform="translate(140.501 264.077)">
                                    <path id="Rectangle_539" data-name="Rectangle 539" d="M1.6,0H9.057a1.6,1.6,0,0,1,1.6,1.6v13.64a1.6,1.6,0,0,1-1.6,1.6H1.6a1.6,1.6,0,0,1-1.6-1.6V1.6A1.6,1.6,0,0,1,1.6,0Z" fill="#5e6e84"/>
                                    <path id="Rectangle_540" data-name="Rectangle 540" d="M1.442,0H7.274A1.442,1.442,0,0,1,8.717,1.442V12.048A1.441,1.441,0,0,1,7.275,13.49H1.442A1.442,1.442,0,0,1,0,12.047V1.442A1.442,1.442,0,0,1,1.442,0Z" transform="translate(0.972 0.955)" fill="#addae9"/>
                                </g>
                            </g>
                            </svg>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
