<div class="content">
    <table>
        <thead>
            <tr >
                <th>ID Venta</th>
                <th>Número Comprobante</th>
                <th>Fecha</th>
                <th>Tipo de Pago</th>
                <th>Pago Total</th>
                <th>Estado</th>
                <!-- <th>Acciones</th> -->
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>6</td>
                <td>26</td>
                <td>30 dic 2019</td>
                <td>Efectivo</td>
                <td>S/. 2.80</td>
                <td>Aceptado</td>
                <td>
                    <div class="icon">
                        <div class="edit">
                            <a href="#"><i class="fas fa-pen fa-1x"></i></a>
                        </div>
                        <div class="disabled">
                            <a href="#"><i class="fas fa-times fa-1x"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>25</td>
                <td>30 dic 2019</td>
                <td>Efectivo</td>
                <td>S/. 5.60</td>
                <td>Anular</td>
                <td>
                    <div class="icon">
                        <div class="edit">
                            <a href="#"><i class="fas fa-pen fa-1x"></i></a>
                        </div>
                        <div class="disabled">
                            <a href="#"><i class="fas fa-times fa-1x"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>26</td>
                <td>30 dic 2019</td>
                <td>Efectivo</td>
                <td>S/. 5.50</td>
                <td>Anulado</td>
                <td>
                    <div class="icon">
                        <div class="edit">
                            <a href="#"><i class="fas fa-pen fa-1x"></i></a>
                        </div>
                        <div class="disabled">
                            <a href="#"><i class="fas fa-times fa-1x"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>124</td>
                <td>26 dic 2019</td>
                <td>Efectivo</td>
                <td>S/. 22.00</td>
                <td>Anulado</td>
                <td>
                    <div class="icon">
                        <div class="edit">
                            <a href="#"><i class="fas fa-pen fa-1x"></i></a>
                        </div>
                        <div class="disabled">
                            <a href="#"><i class="fas fa-times fa-1x"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>23</td>
                <td>26 dic 2019</td>
                <td>Efectivo</td>
                <td>S/. 9.00</td>
                <td>Anulado</td>
                <td>
                    <div class="icon">
                        <div class="edit">
                            <a href="#"><i class="fas fa-pen fa-1x"></i></a>
                        </div>
                        <div class="disabled">
                            <a href="#"><i class="fas fa-times fa-1x"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
