<div class="articulos">
    <div class="articulos__container">
        <div class="articulos__container--items">
            <div class="item">
                <div class="ladoa">
                    <img src="assets/image/inka.png" alt="">
                    <div class="icons">
                        <div class="icon">
                            <div class="edit">
                                <a href="#"><i class="fas fa-pen fa-3x"></i></a>
                            </div>
                        </div>
                        <div class="icon">
                            <div class="disabled">
                                <a href="#"><i class="fas fa-times fa-3x"></i></a>
                            </div>
                        </div>
                        <!-- <div class="icon">
                            <div class="info">
                                <a href="#"><i class="fas fa-info fa-3x"></i></a>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="ladob">
                    <div>
                        <h2>Nombre</h2>
                        <h1>Inka Kola 500 ML</h1>
                    </div>
                    <div>
                        <h2>Categoría</h2>
                        <h1>Gasesosas</h1>
                    </div>
                    <div>
                        <h2>Código</h2>
                        <h1>97548756</h1>
                    </div>
                    <div>
                        <h2>Precio Venta</h2>
                        <h1>S/. 2.80</h1>
                    </div>
                    <div>
                        <h2>Stock</h2>
                        <h1>52</h1>
                    </div>
                    <div>
                        <h2>Descripción</h2>
                        <h1>Botella descartable</h1>
                    </div>
                </div>
                <div class="estado active">
                </div>
            </div>
        </div>
        <div class="articulos__container--items">
            <div class="item">
                <div class="ladoa">
                    <img src="assets/image/inka.png" alt="">
                    <div class="icons">
                        <div class="icon">
                            <div class="edit">
                                <a href="#"><i class="fas fa-pen fa-3x"></i></a>
                            </div>
                        </div>
                        <div class="icon">
                            <div class="disabled">
                                <a href="#"><i class="fas fa-times fa-3x"></i></a>
                            </div>
                        </div>
                        <!-- <div class="icon">
                            <div class="info">
                                <a href="#"><i class="fas fa-info fa-3x"></i></a>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="ladob">
                    <div>
                        <h2>Nombre</h2>
                        <h1>Inka Kola 500 ML</h1>
                    </div>
                    <div>
                        <h2>Categoría</h2>
                        <h1>Gasesosas</h1>
                    </div>
                    <div>
                        <h2>Código</h2>
                        <h1>97548756</h1>
                    </div>
                    <div>
                        <h2>Precio Venta</h2>
                        <h1>S/. 2.80</h1>
                    </div>
                    <div>
                        <h2>Stock</h2>
                        <h1>52</h1>
                    </div>
                    <div>
                        <h2>Descripción</h2>
                        <h1>Botella descartable</h1>
                    </div>
                </div>
                <div class="estado active">
                </div>
            </div>
        </div>
        <div class="articulos__container--items">
            <div class="item">
                <div class="ladoa">
                    <img src="assets/image/inka.png" alt="">
                    <div class="icons">
                        <div class="icon">
                            <div class="edit">
                                <a href="#"><i class="fas fa-pen fa-3x"></i></a>
                            </div>
                        </div>
                        <div class="icon">
                            <div class="disabled">
                                <a href="#"><i class="fas fa-times fa-3x"></i></a>
                            </div>
                        </div>
                        <!-- <div class="icon">
                            <div class="info">
                                <a href="#"><i class="fas fa-info fa-3x"></i></a>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="ladob">
                    <div>
                        <h2>Nombre</h2>
                        <h1>Inka Kola 500 ML</h1>
                    </div>
                    <div>
                        <h2>Categoría</h2>
                        <h1>Gasesosas</h1>
                    </div>
                    <div>
                        <h2>Código</h2>
                        <h1>97548756</h1>
                    </div>
                    <div>
                        <h2>Precio Venta</h2>
                        <h1>S/. 2.80</h1>
                    </div>
                    <div>
                        <h2>Stock</h2>
                        <h1>52</h1>
                    </div>
                    <div>
                        <h2>Descripción</h2>
                        <h1>Botella descartable</h1>
                    </div>
                </div>
                <div class="estado active">
                </div>
            </div>
        </div>
        <div class="articulos__container--items">
            <div class="item">
                <div class="ladoa">
                    <img src="assets/image/inka.png" alt="">
                    <div class="icons">
                        <div class="icon">
                            <div class="edit">
                                <a href="#"><i class="fas fa-pen fa-3x"></i></a>
                            </div>
                        </div>
                        <div class="icon">
                            <div class="disabled">
                                <a href="#"><i class="fas fa-times fa-3x"></i></a>
                            </div>
                        </div>
                        <!-- <div class="icon">
                            <div class="info">
                                <a href="#"><i class="fas fa-info fa-3x"></i></a>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="ladob">
                    <div>
                        <h2>Nombre</h2>
                        <h1>Inka Kola 500 ML</h1>
                    </div>
                    <div>
                        <h2>Categoría</h2>
                        <h1>Gasesosas</h1>
                    </div>
                    <div>
                        <h2>Código</h2>
                        <h1>97548756</h1>
                    </div>
                    <div>
                        <h2>Precio Venta</h2>
                        <h1>S/. 2.80</h1>
                    </div>
                    <div>
                        <h2>Stock</h2>
                        <h1>52</h1>
                    </div>
                    <div>
                        <h2>Descripción</h2>
                        <h1>Botella descartable</h1>
                    </div>
                </div>
                <div class="estado active">
                </div>
            </div>
        </div>
    </div>
</div>
