<section class="usuario">
    <div class="usuario__container">
        <div class="usuario-item">
            <div class="item">
                <div class="imagen">
                    <figure>
                        <img src="assets/image/categoria.png" alt="Usuario">
                    </figure>
                </div>
                <div class="info">
                    <div class="name">
                        <h1>Aseo Personal</h1>
                        <h2>Aseo001</h2>
                    </div>
                    <div class="compania">
                        <h2>Descripción</h2>
                        <h1>Todo tipo de aseo personal</h1>
                    </div>
                    <div class="icons">
                        <div class="icon">
                            <div class="edit">
                                <a href="#"><i class="fas fa-pen fa-3x"></i></a>
                            </div>
                        </div>
                        <div class="icon">
                            <div class="disabled">
                                <a href="#"><i class="fas fa-times fa-3x"></i></a>
                            </div>
                        </div>
                        <div class="icon">
                            <div class="info">
                                <a href="#"><i class="fas fa-info fa-3x"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="active-bar enabled-bar"></div>
            </div>
        </div>
        <div class="usuario-item">
            <div class="item">
                <div class="imagen">
                    <figure>
                        <img src="assets/image/categoria.png" alt="Usuario">
                    </figure>
                </div>
                <div class="info">
                    <div class="name">
                        <h1>Aseo Personal</h1>
                        <h2>Aseo001</h2>
                    </div>
                    <div class="compania">
                        <h2>Descripción</h2>
                        <h1>Todo tipo de aseo personal</h1>
                    </div>
                    <div class="icons">
                        <div class="icon">
                            <div class="edit">
                                <a href="#"><i class="fas fa-pen fa-3x"></i></a>
                            </div>
                        </div>
                        <div class="icon">
                            <div class="disabled">
                                <a href="#"><i class="fas fa-times fa-3x"></i></a>
                            </div>
                        </div>
                        <div class="icon">
                            <div class="info">
                                <a href="#"><i class="fas fa-info fa-3x"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="active-bar enabled-bar"></div>
            </div>
        </div>
        <div class="usuario-item">
            <div class="item">
                <div class="imagen">
                    <figure>
                        <img src="assets/image/categoria.png" alt="Usuario">
                    </figure>
                </div>
                <div class="info">
                    <div class="name">
                        <h1>Aseo Personal</h1>
                        <h2>Aseo001</h2>
                    </div>
                    <div class="compania">
                        <h2>Descripción</h2>
                        <h1>Todo tipo de aseo personal</h1>
                    </div>
                    <div class="icons">
                        <div class="icon">
                            <div class="edit">
                                <a href="#"><i class="fas fa-pen fa-3x"></i></a>
                            </div>
                        </div>
                        <div class="icon">
                            <div class="disabled">
                                <a href="#"><i class="fas fa-times fa-3x"></i></a>
                            </div>
                        </div>
                        <div class="icon">
                            <div class="info">
                                <a href="#"><i class="fas fa-info fa-3x"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="active-bar enabled-bar"></div>
            </div>
        </div>
        <div class="usuario-item">
            <div class="item">
                <div class="imagen">
                    <figure>
                        <img src="assets/image/categoria.png" alt="Usuario">
                    </figure>
                </div>
                <div class="info">
                    <div class="name">
                        <h1>Aseo Personal</h1>
                        <h2>Aseo001</h2>
                    </div>
                    <div class="compania">
                        <h2>Descripción</h2>
                        <h1>Todo tipo de aseo personal</h1>
                    </div>
                    <div class="icons">
                        <div class="icon">
                            <div class="edit">
                                <a href="#"><i class="fas fa-pen fa-3x"></i></a>
                            </div>
                        </div>
                        <div class="icon">
                            <div class="disabled">
                                <a href="#"><i class="fas fa-times fa-3x"></i></a>
                            </div>
                        </div>
                        <div class="icon">
                            <div class="info">
                                <a href="#"><i class="fas fa-info fa-3x"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="active-bar enabled-bar"></div>
            </div>
        </div>
        <div class="usuario-item">
            <div class="item">
                <div class="imagen">
                    <figure>
                        <img src="assets/image/categoria.png" alt="Usuario">
                    </figure>
                </div>
                <div class="info">
                    <div class="name">
                        <h1>Aseo Personal</h1>
                        <h2>Aseo001</h2>
                    </div>
                    <div class="compania">
                        <h2>Descripción</h2>
                        <h1>Todo tipo de aseo personal</h1>
                    </div>
                    <div class="icons">
                        <div class="icon">
                            <div class="edit">
                                <a href="#"><i class="fas fa-pen fa-3x"></i></a>
                            </div>
                        </div>
                        <div class="icon">
                            <div class="disabled">
                                <a href="#"><i class="fas fa-times fa-3x"></i></a>
                            </div>
                        </div>
                        <div class="icon">
                            <div class="info">
                                <a href="#"><i class="fas fa-info fa-3x"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="active-bar enabled-bar"></div>
            </div>
        </div>
        <div class="usuario-item">
            <div class="item">
                <div class="imagen">
                    <figure>
                        <img src="assets/image/categoria.png" alt="Usuario">
                    </figure>
                </div>
                <div class="info">
                    <div class="name">
                        <h1>Aseo Personal</h1>
                        <h2>Aseo001</h2>
                    </div>
                    <div class="compania">
                        <h2>Descripción</h2>
                        <h1>Todo tipo de aseo personal</h1>
                    </div>
                    <div class="icons">
                        <div class="icon">
                            <div class="edit">
                                <a href="#"><i class="fas fa-pen fa-3x"></i></a>
                            </div>
                        </div>
                        <div class="icon">
                            <div class="disabled">
                                <a href="#"><i class="fas fa-times fa-3x"></i></a>
                            </div>
                        </div>
                        <div class="icon">
                            <div class="info">
                                <a href="#"><i class="fas fa-info fa-3x"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="active-bar enabled-bar"></div>
            </div>
        </div>
        <div class="usuario-item">
            <div class="item">
                <div class="imagen">
                    <figure>
                        <img src="assets/image/categoria.png" alt="Usuario">
                    </figure>
                </div>
                <div class="info">
                    <div class="name">
                        <h1>Aseo Personal</h1>
                        <h2>Aseo001</h2>
                    </div>
                    <div class="compania">
                        <h2>Descripción</h2>
                        <h1>Todo tipo de aseo personal</h1>
                    </div>
                    <div class="icons">
                        <div class="icon">
                            <div class="edit">
                                <a href="#"><i class="fas fa-pen fa-3x"></i></a>
                            </div>
                        </div>
                        <div class="icon">
                            <div class="disabled">
                                <a href="#"><i class="fas fa-times fa-3x"></i></a>
                            </div>
                        </div>
                        <div class="icon">
                            <div class="info">
                                <a href="#"><i class="fas fa-info fa-3x"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="active-bar enabled-bar"></div>
            </div>
        </div>
        <div class="usuario-item">
            <div class="item">
                <div class="imagen">
                    <figure>
                        <img src="assets/image/categoria.png" alt="Usuario">
                    </figure>
                </div>
                <div class="info">
                    <div class="name">
                        <h1>Aseo Personal</h1>
                        <h2>Aseo001</h2>
                    </div>
                    <div class="compania">
                        <h2>Descripción</h2>
                        <h1>Todo tipo de aseo personal</h1>
                    </div>
                    <div class="icons">
                        <div class="icon">
                            <div class="edit">
                                <a href="#"><i class="fas fa-pen fa-3x"></i></a>
                            </div>
                        </div>
                        <div class="icon">
                            <div class="disabled">
                                <a href="#"><i class="fas fa-times fa-3x"></i></a>
                            </div>
                        </div>
                        <div class="icon">
                            <div class="info">
                                <a href="#"><i class="fas fa-info fa-3x"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="active-bar enabled-bar"></div>
            </div>
        </div>
        <div class="usuario-item">
            <div class="item">
                <div class="imagen">
                    <figure>
                        <img src="assets/image/categoria.png" alt="Usuario">
                    </figure>
                </div>
                <div class="info">
                    <div class="name">
                        <h1>Aseo Personal</h1>
                        <h2>Aseo001</h2>
                    </div>
                    <div class="compania">
                        <h2>Descripción</h2>
                        <h1>Todo tipo de aseo personal</h1>
                    </div>
                    <div class="icons">
                        <div class="icon">
                            <div class="edit">
                                <a href="#"><i class="fas fa-pen fa-3x"></i></a>
                            </div>
                        </div>
                        <div class="icon">
                            <div class="disabled">
                                <a href="#"><i class="fas fa-times fa-3x"></i></a>
                            </div>
                        </div>
                        <div class="icon">
                            <div class="info">
                                <a href="#"><i class="fas fa-info fa-3x"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="active-bar enabled-bar"></div>
            </div>
        </div>
        <div class="usuario-item">
            <div class="item">
                <div class="imagen">
                    <figure>
                        <img src="assets/image/categoria.png" alt="Usuario">
                    </figure>
                </div>
                <div class="info">
                    <div class="name">
                        <h1>Aseo Personal</h1>
                        <h2>Aseo001</h2>
                    </div>
                    <div class="compania">
                        <h2>Descripción</h2>
                        <h1>Todo tipo de aseo personal</h1>
                    </div>
                    <div class="icons">
                        <div class="icon">
                            <div class="edit">
                                <a href="#"><i class="fas fa-pen fa-3x"></i></a>
                            </div>
                        </div>
                        <div class="icon">
                            <div class="disabled">
                                <a href="#"><i class="fas fa-times fa-3x"></i></a>
                            </div>
                        </div>
                        <div class="icon">
                            <div class="info">
                                <a href="#"><i class="fas fa-info fa-3x"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="active-bar enabled-bar"></div>
            </div>
        </div>
        <div class="usuario-item">
            <div class="item">
                <div class="imagen">
                    <figure>
                        <img src="assets/image/categoria.png" alt="Usuario">
                    </figure>
                </div>
                <div class="info">
                    <div class="name">
                        <h1>Aseo Personal</h1>
                        <h2>Aseo001</h2>
                    </div>
                    <div class="compania">
                        <h2>Descripción</h2>
                        <h1>Todo tipo de aseo personal</h1>
                    </div>
                    <div class="icons">
                        <div class="icon">
                            <div class="edit">
                                <a href="#"><i class="fas fa-pen fa-3x"></i></a>
                            </div>
                        </div>
                        <div class="icon">
                            <div class="disabled">
                                <a href="#"><i class="fas fa-times fa-3x"></i></a>
                            </div>
                        </div>
                        <div class="icon">
                            <div class="info">
                                <a href="#"><i class="fas fa-info fa-3x"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="active-bar enabled-bar"></div>
            </div>
        </div>
    </div>
</section>
